[2015-10-14 04:34] bozaro commented on #326
@andyneff
If you fetch both repository to some .git directory or intergrate submodule before convert, then bozaro/git-lfs-migrate will convert whole both repository history, including submodule links.

[2015-10-14 15:22] blowsie commented on #584
https://github.com/blog/2069-git-large-file-storage-v1-0

[2015-10-14 15:38] technoweenie commented on #739
This really depends on the behavior on the LFS server, and has nothing to do with the open source project. Contact https://github.com/contact, and I'll help you out there :)

[2015-10-14 15:38] #739 closed

[2015-10-14 17:30] bunnybones1 opened #740 "windows git thinks all files are modifed after git lfs pull."
This happens on 2 different windows 8 machines with git bash running git 1.9.4.msysgit.0
Is this normal?
Is there any way to fix this?

[2015-10-14 17:42] awayken commented on #736
:+1: I had issues with this, too.

[2015-10-14 17:49] bunnybones1 commented on #740
I've updated to git 2.6.1.windows.1 and the problem has gone away.
Long live git lfs.

[2015-10-14 17:50] #740 closed

[2015-10-15 03:32] eddybox opened #741 "Voodoo diffs for lfs files"
I'm working on a unity project with a collaborator. I'm on Mac, they're on Windows. We're using lfs for .unity files amongst others. We both have the following line in our .gitattributes files.

*.unity filter=lfs diff=lfs merge=lfs -text

When I check in a file, he can't open it. (Unity throws a "version error".) But if I send him the file by email, he can open it just fine.
When he checks in a f

[2015-10-15 08:34] sinbad commented on #741
Are your Unity settings set to text-based project files rather than binary project files? Right now LFS has no support for line ending conversions, so if you commit a text format Unity project file on your Mac, someone on Window will receive it verbatim (as it is on your disk) which probably means LF line endings which may well be causing the Windows Unity parser to reject it. When the reverse hap

[2015-10-15 15:30] technoweenie commented on #736
I'd really love help from someone that _uses_ Windows on this :) We're using an nsis script, but I've been thinking about moving to wix. I'll take a look this weekend.

[2015-10-15 15:36] technoweenie commented on #740
If you run into this, it'd be awesome if you could create a tiny test repo that has the problem, so we can take a look.  Do you actually see the git lfs pointer changing in the diff? The only thing off the top of my head is line ending changes, but that'd only affect large text files like csv.

[2015-10-15 16:04] anurse opened #743 "Provide an archive containing Windows binaries for portable installation"
Can you provide an official Windows release containing a simple compressed archive (`.zip`, `.7z`, something fairly standard) with just the binaries? I'd like to make a manifest for this app to use with [Scoop](http://scoop.sh/) (a kind of Homebrew for Windows) and getting it to extract files from the NSIS installer is a bit of a pain. It would be :sparkles: and :rocket: if I could just download,

[2015-10-15 16:08] technoweenie commented on #743
Is there any kind of directory layout that you'd like? Or do you just want git-lfs.exe at the root?

[2015-10-15 16:32] anurse commented on #743
Just a pile-o-files with no directory layout is just fine with me :). If there's a directory layout that's easier for you though, go for it, I can easily make it work!

[2015-10-15 18:08] petek opened #744 "Can't fetch file by API: "message": "Not Acceptable""
I can't download an LFS file on EC2, although I can on my local machine, and I'm getting an odd response from GitHub when I try to debug it.

I have a build server running on EC2.  When I do a fresh clone and checkout of my repository, the one file I have stored in LFS is not retrieved, and I get this message:
[code]
When I check the `git lfs logs last` log, I get the following snippet that leaves

[2015-10-15 18:18] technoweenie commented on #744
This is a server problem, and has nothing to do with the OSS Git LFS client. That URL doesn't work because you're not following the API spec. Just missing an Accept header.

https://github.com/github/git-lfs/tree/master/docs/api

Also, check your email, I have a more detailed response there :)

[2015-10-15 18:34] whoisj commented on #736
Big fan of Inno Setup myself. Git for Windows uses it as well.

WIX is a special kind of painful.

[2015-10-15 19:06] csrvermaak opened #745 "git lfs init: Access denied"
Hi - I just downloaded and installed git lfs from the installer:

After the installer finished, I got a messagebox from the installed to open a Git Bash and run "git lfs init"

Here is what I got:

[code]

Please advise?

[2015-10-15 19:07] csrvermaak commented on #745
How do I know if LFS is now active on my repo?

[2015-10-15 19:10] petek commented on #744
Thanks to @technoweenie, I have tracked this down a bit further, and I'm getting the following debug information in the log:
[code]
It appears the git-lfs-authenticate over ssh is not working in my case.

[2015-10-15 19:31] technoweenie commented on #745
@csrvermaak Git LFS needs to setup global git hooks to function properly. You can verify they are set by:

[code]

According to [the git-config docs](https://git-scm.com/docs/git-config), it needs access to `~/.gitconfig`. It seems weird that you don't have access to a file in your home directory.

I'm not sure how this translates to a Windows environment. Did you install Git for Windows, or just

[2015-10-15 19:34] technoweenie commented on #744
Weird. If there was an authentication error, you should see something about getting a 403. Can you run that with:

[code]

Feel free to send the log to our github support email, unless you want to do this here.  This isn't an issue with the OSS client though. The curl verbose log will include your authorization header too. Look for any lines with "Authorization: Basic".

[2015-10-15 19:35] WillHipschman commented on #744
If you set ```GIT_CURL_VERBOSE=1```it should show you the http response so you can figure out what's wrong with it.

[2015-10-15 19:36] technoweenie commented on #736
Cool, I'll look into that. I originally went with NSIS because I saw a `makensis` command in homebrew, meaning I could (in theory) do the build from my mac. Of course, I later discovered I should sign the exe, so I'm stuck using my Windows VM :/

[2015-10-15 19:42] csrvermaak commented on #745
@technoweenie - I installed git lfs v1.0 for windows, from the link:

https://github.com/github/git-lfs/releases/download/v1.0.0/git-lfs-windows-amd64-1.0.0.exe

I'll check the hooks now. Will let you know. Thanks for your help.

[2015-10-15 19:42] technoweenie commented on #745
@csrvermaak Ah, I was trying to ask how you installed Git itself.

[2015-10-15 19:45] csrvermaak commented on #745
I see - I installed Git itself via TortoiseGit first.

[2015-10-15 19:46] technoweenie commented on #745
Ah ok. I'm really new to Git on Windows, so I'll probably setup a VM with just TortoiseGit for future tests of our installer. Thanks :)

[2015-10-15 19:47] jtsadlerjr opened #746 "Receiving "Error accessing media""
With 2 different repositories on multiple machines since about 10am PST this morning I can no longer download any files. I can still submit files but receive "Error accessing media" when downloading anything stored in LFS.

[2015-10-15 19:47] csrvermaak commented on #745
No probs - glad to help flag some possible issues :)

[2015-10-15 19:48] csrvermaak commented on #745
Here is what I get when I run --config --settings:

[code]

Looks like it's all fine? Thanks for your help.

[2015-10-15 19:51] csrvermaak commented on #745
Here is the contents of my .gitattributes:

[code]

I'm guessing the .xlsx should be -binary? Please advise? Sorry for all the questions, I'm new to LFS, still figuring it out.

[2015-10-15 19:52] csrvermaak commented on #745
Final question - assuming all is fine, if I now commit, the above mentioned files will now be stored in LFS.... For the organisation repo, as well as my and my colleagues forks?

[2015-10-15 19:55] technoweenie commented on #745
Gah, I'm dumb. Here's your original message:

That means Git LFS was not able to create a `.git/hooks` directory in your local repository. Again, it's weird that you wouldn't have access to create it on your own. You'll need that so that Git LFS will push large objects _before_ Git pushes your commits. If you can't add any Git hooks, you'll have to push with an extra command:

[code]

Not really.

[2015-10-15 20:02] petek commented on #744
Log sent in; I will not post a sanitized version here, except to note that the authorization both ways was successful, and a valid JSON document containing the objects to be downloaded - and the authorization to do that (via AWS4-HMAC-SHA256) - was received by the client.

[2015-10-15 20:19] technoweenie commented on #744
Closing this, as it's a temporary issue on our server. Thanks for the report!

[2015-10-15 20:19] #744 closed

[2015-10-15 20:45] SteveSwink commented on #741
Hey hey above-mentioned collaborator here...

So our Asset Serialization is set to the default (Mixed) right now. I'm pretty sure the result of that is .unity files and external assets (obj, psd etc...) are saved binary while scripts are text. If I switch it to text only the unity scene files triple in size.

I have a suspicion that Unity defaulting to use Visual Studio in the latest release (5.2.

[2015-10-15 21:08] eddybox commented on #741
A bit more info: I checked in a .unity scene that was 2.9MB, but when Steve checked it out it showed up on his drive at ~100KB. That's some serious decimation. Also, if Steve downloads the file directly from the github web interface he can open it just fine.

[2015-10-15 21:09] csrvermaak commented on #745
@technoweenie - thanks, I've just confirmed the files that are in LFS. Thanks for your help.

[2015-10-15 21:09] #745 closed

[2015-10-15 21:25] petek commented on #744
Confirmed the issue is resolved.

[2015-10-16 07:03] bozaro opened #747 "Please add pointer size upper limit to specification"
It would be great to add pointer size upper limit to specification: https://github.com/github/git-lfs/blob/master/docs/spec.md

Currentry I can create correct pointer with unlimited size. I think a good idea to limit pointer size (for example: 4096 bytes).

Currentry pointer size is 130-140 bytes.

[2015-10-16 07:25] sinbad commented on #741
So that's my theory out the window then :)

Woah. What happens if you do a fresh clone on your Mac, does the same thing happen?

[2015-10-16 12:49] szigetics opened #748 "problems using git-lfs in an Xcode Bot"
I installed git-lfs on my Xcode Server instance.
I added my hosting server's url to my global gitconfig :

cat ~/.gitconfig
[code]

I added git-lfs to my pre-build trigger :

[code]

The result is :

[code]

So it seems that it is not using git-lfs at all, just pulling down the real file content (the pointers).

Do you know how can this issue be fixed?

Thanks!

[2015-10-16 15:42] technoweenie commented on #747
We should definitely document it. There's an unofficial size that we use when scanning blobs to filter any over a certain size. We used to use 200, but now have to deal with [extensions](https://github.com/github/git-lfs/blob/master/docs/extensions.md). I thought we added a limit to the number of extensions a repository could have, but apparently not.

I agree there should be a well known, documen

[2015-10-16 15:42] technoweenie commented on #746
Hi @jtsadlerjr I think we resolved this. Are you still having problems?

[2015-10-16 15:43] technoweenie commented on #748
If your own git command is not fetching the Git LFS content, you can run "git lfs pull" to fetch and replace the pointer files.

[2015-10-16 15:50] bozaro commented on #747
Extension limit is not good idea: one extension may have unlimited size.

I think total size limit like N kilobytes is good enought.

[2015-10-16 15:52] technoweenie commented on #747
I'm just saying we should send extension limits in addition to a byte size limit.

[2015-10-16 15:52] arronmabrey commented on #355
@technoweenie would this issue be the best place to track the progress of this feature? Also is this feature on an official road map of any kind.

[2015-10-16 15:55] technoweenie commented on #355
The roadmap is here: https://github.com/github/git-lfs/blob/master/ROADMAP.md

There's no progress at this time on it.

[2015-10-16 17:22] eddybox commented on #741
Steve and I each did a fresh clone to our machine over the last 24 hrs; mine was fine, his got the same result: 1kb! (Mistake in my previous comment, it wasn't 100kb, it was 1.)

Browsing github the file appears to be about 2.73mb, and we can both download it fine. Git definitely seems to be doing something quite drastic to the file when pulling it in.

[2015-10-16 19:15] cchamberlain commented on #697
@technoweenie solution fixed for me.

[2015-10-17 09:57] krichter722 opened #751 "Add build instructions to README or INSTALL"

[2015-10-17 10:52] krichter722 opened #753 "git lfs track fails with "Not a git repository." in /"
Invoking `cd / && git lfs init && git lfs track .` (as user `root`) fails with `Not a git repository.` and returncode 128. I have created a repository at `/` with `git init`.

experienced with 1.0.0 on Ubuntu 15.04

[2015-10-18 07:43] 0xbadfca11 opened #754 "scp like syntax repository URL without username will not correctly handling"
When username is in ~/.ssh/config,
[code]
username can omit.
Omitted remote URL occur 'unsupported protocol scheme'.
[code]
Using ssh:// or with username does not occur.

[2015-10-18 15:15] technoweenie commented on #753
Do you have a git repository at `/`? `git lfs track` requires a git repository.

[2015-10-18 15:17] krichter722 commented on #753
Yes.

[2015-10-19 07:32] szigetics commented on #748
Running "git lfs pull" fixed my problem. Thank you! :)

![ThumbsUp](http://cdn.meme.am/images/300x/4742169.jpg)

[2015-10-19 08:10] #748 closed

[2015-10-19 08:21] sinbad commented on #741
OK so it does seem specific to the Windows version then. I've been doing some work to start getting the integration tests working on Windows, I'll see if I can reproduce this with a test repo.

[2015-10-19 14:28] sinbad commented on #741
All seems well on Windows here. So actually I think this is much simpler; those 1k files, do they contain something like this?
[code]
If so, it probably means Steve has never run `git lfs init` on his machine, so the filters that usually download the *actual* LFS content aren't running so he's just getting what's stored in git itself. It also means that whenever he's been committing new versions,

[2015-10-19 16:28] eddybox commented on #741
Thanks, Sinbad! Things *were* working for us for months (sharing files through lfs just fine), and Steve does still have all the proper settings in his local .gitattributes file (we share this via the repo), but I suspect you're right about the file contents. We'll talk today and dig in, but I suspect his git lfs installation has gotten trashed somehow. More soon...

[2015-10-19 19:26] SteveSwink commented on #741
Hey so I'm now getting this error in Sourcetree:

http://prntscr.com/8t2mxr

I re-downloaded Git and Git LFS and installed but I'm still seeing my git version as 1.9.5 so I'm not sure what the heck is going on. Is there something special I have to do to update my git version?

[2015-10-19 19:32] technoweenie opened #755 "Git LFS v1.1"
### Features

* [x] NTLM auth support https://github.com/github/git-lfs/pull/820 (@WillHipschman, @technoweenie)
* [x] `prune` command https://github.com/github/git-lfs/pull/742 (@sinbad)
* [ ] zsh auto completion https://github.com/github/git-lfs/pull/727
* [ ] netrc support https://github.com/github/git-lfs/pull/715
* [x] Use .lfsconfig instead of .gitconfig https://github.com/github/git-lfs/pul

[2015-10-19 23:50] ytrezq opened #757 "Documentation about the internal format."
Hello,

This project is good for dealing with large files manually, however it seems it’s not the best choice for code integration into other projects and/or language.
So does the exact changes in objects are documented outside the source code ?

[2015-10-20 00:46] goncalossilva opened #758 "panic: runtime error: invalid memory address or nil pointer dereference"
I'm trying to set up Git LFS to track a couple of directories (and everything inside them) that contain multiple big files.

`.gitattrubutes` contains:

[code]

When I run `git add .` (which adds those folders, previously untracked) and then I run `git lfs status`, I get the following:

[code]

Any ideas?

[2015-10-20 01:28] goncalossilva commented on #758
Hum, running the command right after this happened works as expected. This can be closed, although I'm leaving the stacktrace as it can reveal some hidden issue.

[2015-10-20 08:26] sinbad commented on #741
Yeah the trouble is that the filter that causes git to call LFS has to be configured in your global `.gitconfig` at least once, `git lfs init` will do that.

@SteveSwink so this means you have the filter enabled now (yay) but that SourceTree can't see it. The easiest way to resolve this is to go into Tools > Options > Git, and click "Use System Git". That should pick up where you've installed the

[2015-10-20 09:48] pbrooks commented on #751
I agree that build instructions are needed, however the binary is extremely easy to install.

1. Make sure you have go installed
2. Run sh script/bootscript
3. Binary is produced in bin

[2015-10-20 10:57] pbrooks commented on #678
Hi guys,
I've recently come across this issue with my local copy, other users seem to have this file in place.

I believe it's occured when I've cancelled the lfs pull by using a signal. It's left the metadata file instead of the actual file but more crucially the .git/lfs/objects relevant file has become corrupt.

As a result, fetch or pull fail with the error from the original author.

The error

[2015-10-20 15:09] technoweenie commented on #678
@pbrooks That specific issue is tracked at https://github.com/github/git-lfs/issues/266. In the future, can you create a separate issue? Threads with multiple people seeking help for different things can get really confusing.

[2015-10-20 15:19] #653 closed

[2015-10-20 15:21] #660 closed

[2015-10-20 15:29] #717 closed

[2015-10-20 15:35] gogodave opened #759 "global lfs.fetchexclude results in error accessing media"
If you define a global lfs.fetchexclude with something like:
`git config --global lfs.fetchexclude dir1`

and dir1 contains a tracked file, then a clone of the repo results in "Error accessing media".

git lfs logs last reports this:

    git-lfs/1.0.0 (GitHub; linux amd64; go 1.5.1; git 7379fa9)
    git version 2.4.8

    $ git-lfs smudge test-sub2/f3.xz
    Error accessing media: test-sub2/f3.xz

[2015-10-20 15:48] technoweenie commented on #759
@sinbad: I think smudge should get a pass here and just silently skip these cases. The smudge wants what the smudge wants. What do you think?

[2015-10-20 17:40] technoweenie commented on #751
I added build instructions in #761. Thanks for the suggestion!

[2015-10-20 17:40] #751 closed

[2015-10-20 18:38] jhoblitt commented on #731
I've run into this with v1.0.0 as well when there are transfer errors.  Is #734 a complete fix for this?

[code]

[2015-10-20 19:45] technoweenie commented on #731
@jhoblitt What command did you run?

BTW: #734 is merged for Git LFS 1.0.1 and is not part of any released version of Git LFS.

[2015-10-20 19:59] Yam408 opened #762 "How can I take"
Plz the steps of use one by one

[2015-10-20 20:02] jhoblitt commented on #731
@technoweenie The snippet I posted was from a `git clone...` but it definitely happens with `git-lfs fetch`.  There seem to be network glitches effecting our lfs backend server (not github) but I suspect any sort of I/O failure would manifest the same way.  This is an issue for me as I'm doing unattended clones/fetches from a CI system.

[2015-10-20 20:06] technoweenie commented on #731
#734 only affects fetch, but #732 does the same for the internal smudge filter used during clones.

[2015-10-20 20:06] #762 closed

[2015-10-20 20:07] jhoblitt commented on #737
@lbergelson I have a work around for the lfs client prompting for credentials even with public https objects [and requiring the lfs smudge filters to be setup in ~/.gitconfig] but it is ugly...
[code]

[2015-10-20 20:08] jhoblitt commented on #737
@technoweenie It hasn't been mentioned here before but the prompting for uneeded credentials still happens with `batch = false`.

[2015-10-20 20:16] technoweenie commented on #737
Unfortunately, fixing this would require us to break the legacy API for all existing clients. So, password-less downloads are only supported in the batch API.

[2015-10-20 20:16] lbergelson commented on #737
@jhoblitt  Thanks for the work around.  That is indeed very ugly!

[2015-10-20 20:17] jhoblitt commented on #410
The oldest version I have tested with is `git-1.8.3.1-4.el7.x86_64` from el7, which appears to function as expected.  Some functionality is 1.9+ is needed so I haven't gone back any further.  I have also successfully tested with 2.2.2, 2.4.3 (fedora 22), 2.5.2, & 2.6.2 all built from source unless noted otherwise.

[2015-10-20 20:19] technoweenie commented on #410
Do you mean something in Git LFS, or something only related to your setup or project?

[2015-10-20 20:22] jhoblitt commented on #279
This seems to be working for me with the `v1.0.0` client and `SSH_AUTH_SOCK` set to a gpg-agent socket.  The credential helper gets invoked for the HTTPS auth as expected.  Also note that an API token has to be used with 2FA is enabled.  In that case the username is ignored.

[2015-10-20 20:23] jhoblitt commented on #242
This seems to be working for me with the `v1.0.0` client and `SSH_AUTH_SOCK` set to a gpg-agent socket.  The credential helper gets invoked for the HTTPS auth as expected.  Also note that an API token has to be used with 2FA is enabled.  In that case the username is ignored.

[2015-10-20 20:32] jhoblitt commented on #410
The 1.9+ requirement is for purely for our internal build tool chain.

[2015-10-20 20:35] jhoblitt commented on #193
Just as an FYI for the folks on this thread, there is a ruby/sinatra based lfs server implementation available: https://github.com/meltingice/git-lfs-s3 .  A co-worker on my team is working on adding public object and support for ceph's s3 dialect to it (https://github.com/lsst-sqre/git-lfs-s3/pull/1), which will be proposed for merge upstream.  I have also thrown together a Vagrantfile + some pup

[2015-10-20 20:38] stevendlander commented on #325
I am still experiencing this issue, even with `git lfs fetch`, on a Travis-CI container.  I install git-lfs and then run `git lfs fetch`, however I get the following error:

`Invalid status for POST https://github.com/{myaccount}/{myrepo}.git/info/lfs/objects/batch: 403`

My two files are never downloaded.  This is using git-lfs-1.0.0

[2015-10-20 21:46] technoweenie commented on #266
Here's an attempt to fix this for real: https://github.com/github/git-lfs/pull/763

[2015-10-20 21:49] technoweenie commented on #325
Another update: `git lfs pull` is now the correct command, as of Git LFS v0.6.0. `fetch` will download the files, but `pull` updates them in the working directory.

@stevendlander: You're hitting an Unauthorized response from your Git LFS server. Contact GitHub at https://github.com/contact with details from these commands:

    $ git lfs env
    $ GIT_CURL_VERBOSE=1 git lfs fetch

Be sure to sani

[2015-10-20 21:55] chiefkme60 opened #764 "see"
Your welcome you know I think that's what everybody was doing you know it's kind of like speeds everybody's doing differently so the issues that people are worth having is generally eat it going to snow on a downloader do it too fast is very common man

[2015-10-20 21:56] #764 closed

[2015-10-20 22:52] jhoblitt commented on #731
@technoweenie :+1:  Looks good with current master.

[code]
[code]

[2015-10-21 15:40] technoweenie commented on #757
Here are some internal docs:

* [Specification](https://github.com/github/git-lfs/blob/master/docs/spec.md)
* [Server API](https://github.com/github/git-lfs/tree/master/docs/api)

[2015-10-21 16:26] #708 closed

[2015-10-21 16:50] jwittner opened #766 "No way to share large content between repo directories."
My objective in our CI is to be able to sync multiple branches one to one with folders, but right now that means a new download of our large content - roughly 15 GB - for every new branch. Seems like I should be able to move the storage for the local media and it's metadata out to a shared folder which git-lfs could leverage.  As far as I can tell there is no way to adjust the local media director

[2015-10-21 17:01] technoweenie commented on #766
I'd be into allowing the `lfs.LocalMediaDir` constant to change based on an environment variable. It wouldn't be difficult:

https://github.com/github/git-lfs/blob/f56cd54ad7f8e13df6415a568f5681394bd44b31/lfs/lfs.go#L99-L119

This would lead to a shared LFS directory on each CI server. I also wanted to experiment with some kind of LFS proxy, which could let you have your own shared storage for ALL

[2015-10-21 17:12] jwittner commented on #766
Shared folders and the environment variable could get you close to a single storage location solution.

[2015-10-21 17:19] jwittner commented on #766
What about driving lfs.LocalMediaDir via the git-config - it would match the ways we configure the endpoint in git-lfs.

git config --add lfs.localMediaDir <path>?

[2015-10-21 17:22] technoweenie commented on #766
I like the `git config` option. Easy to configure per repo or globally :+1:

[2015-10-21 19:56] #726 closed

[2015-10-21 19:58] technoweenie commented on #729
Git LFS uses the same mechanism that Git does for storing passwords: https://help.github.com/articles/caching-your-github-password-in-git/

If you have any more problems, please open a new issue with details. Thanks!

[2015-10-21 19:58] #729 closed

[2015-10-21 21:22] jwittner commented on #282
Can I vote this up somehow?

[2015-10-21 23:39] tristanz commented on #766
I have workflows that would also be helped by this option, so :+1: .

[2015-10-22 10:29] sinbad commented on #759
Fixed in #770 - sorry I didn't test with a global filter when cloning (rectified in test scripts now)

[2015-10-22 15:27] kilianc commented on #326
I am in a slightly different situation where I have an orphan branch called design in a repo where we store sketch files and other assets. I am ok with losing the history since the project is less than a month old, and I already tried to do so but it doesn't seem to work.

Couple of questions:

* Can I `git track *` ?
* Do I have to `git lfs init`? If yes when? Everyone in the team needs to to tha

[2015-10-23 03:26] megastep opened #773 "Git LFS broken with organizations?"
I've been trying to switch fully to LFS, which would work great with some of the repositories I work with that include large binary files. However I have been at a loss as to why it has been failing to upload the files to LFS on my repo that is owned by an organization.

I am currently using git on the command line on OS X El Capitan, with the git-lfs binary installed from the current Github Deskt

[2015-10-23 11:22] sinbad commented on #766
Have you tried using `git worktree`? Git LFS already supports that so if you create a separate worktree on the other branch, the `lfs/objects` directory will be shared between them just like the git repo itself. Another advantage is that this will automatically be respected by other functionality like the upcoming `git lfs prune`.

[2015-10-23 11:58] bozaro commented on #326
@kilianc

This command need to run only one time on user computer. Usually it's runned by git-lfs installer.

This command add to $HOME/.gitconfig lines like:
[code]

[2015-10-23 13:22] technoweenie commented on #773
Correct, Git LFS on GitHub isn't supported on public forks right now. Feel free to contact us about it at https://github.com/contact. This isn't an issue with the OSS client though.

[2015-10-23 13:22] #773 closed

[2015-10-23 13:40] mbcraft opened #774 "Got error when trying to push large files."
I initialized the repository and added the tracked extensions as explained by the docs. I added the files using the git command "git add images/", commited them with "git commit -m 'my comment bla bla bla'" and then tryed to push. I can't use "git lfs push origin master", but only "git-lfs push origin master".
This is the error i got :

[code]

[2015-10-23 13:43] mbcraft commented on #774
Also, running "git lfs smudge" returns this error :

Cannot read from STDIN. This command should be run by the Git 'smudge' filter

[2015-10-23 13:47] mbcraft commented on #774
"git lfs pull" returns the following :

(0 of 2693 files) 0 B / 11.22 GB

---
Anyway, i'm updating the system to the latest version, i'll retry when everything is upgraded.

[2015-10-23 14:01] mbcraft commented on #774
After upgrade nothing has changed.

"git lfs ls-files" correctly outputs the file names :

....
46f3e22653 * images/DSCN2240.JPG
24a9beea73 * images/DSCN2241.JPG
7e2b3055de * images/DSCN2242.JPG
....

---
"git lfs status" outputs the following :

On branch master
Git LFS objects to be pushed to origin/master:

        images/DSCN0001.JPG (3.9 MB)
        images/DSCN0002.JPG (4.0 MB)
        images

[2015-10-23 14:26] rubyist commented on #774
Hi, can you give us the output of `git lfs env` from your repo directory?

[2015-10-23 14:59] technoweenie commented on #774
Git automatically proxies `git {subcmd}` to `git-{subcmd}` if it can find it in the system path. This is unrelated to the panic though. We just need the git-lfs version so we can trace the panic and fix it. Does `git-lfs push origin master` _always_ panic when you run it from this repository?

[2015-10-23 15:35] mbcraft commented on #774
Version is 1.0.0 .

My files strangely appears on the repo but git push has not uploaded the
real data.

The repo is here https://github.com/mbcraft/trash-data

Kind regards.

-Marco B.

[---------------------------------------
[MBCRAFT di Marco Bagnaresi - Software development services
[Via ca' del vento, 11
[CAP 48012 - Bagnacavallo(RA)
[P.IVA/VAT N. : 02475790396
[C.F. : BGNMRC82H03E730O
[Websi

[2015-10-23 15:38] technoweenie commented on #774
Can you include the full version string?

[code]

Does `git-lfs push origin master` _always_ panic when you run it from this repository?

[2015-10-23 16:02] technoweenie commented on #774
Ok assuming you're on the [v1.0.0 tag](https://github.com/github/git-lfs/tree/v1.0.0), the errors are coming from:

[code]

Specifically:

[code]

`res` inside of the `err != nil` block is nil. We're actually breaking standard go conventions here, by assuming that `doAPIRequest()` always returns a `res` AND an `err`, because of https://github.com/github/git-lfs/pull/488. A fix for this specific bu

[2015-10-23 16:19] technoweenie opened #777 "Refactor readGitConfig()"
This function has too many responsibilities:

1. Reading git config from various places into a single map of values that Git LFS uses.
2. Building up internal extension objects.
3. Tracking the unique git remotes from the config.

Not only is the code pretty gnarly now, but it makes ensuring that only "safe" keys are read from the `.gitconfig` file in the working directory more difficult.

[2015-10-23 16:37] technoweenie opened #778 "Refactor local storage"
We use "local storage" to describe how Git LFS interacts with the `.git/lfs/objects` directory. I'd like to make it a separate go package like `github.com/github/git-lfs/localstorage` with a well thought-out API for any Go developers to use, in addition to the internal `lfs` package.

Responsibilities:
- Reading LFS objects from local storage
- Writing objects to local storage
- Internal lock file

[2015-10-23 16:42] technoweenie opened #779 "Refactor API client"
There's a lot of cruft in the `lfs` package for dealing with both LFS APIs. This can make it difficult to follow the code path, and really difficult to add support for alternate protocols.  This is what I'd like to see:
- Simple go interface with methods like `DownloadObjects()` and `UploadObjects()`.
- Public, exported package at `github.com/github/git-lfs/client`.
- Consistent usage in `git lfs

[2015-10-23 17:01] tristanz commented on #766
That's a good suggestion, but my applications is slightly different.  I want a local cache of all my objects across all my projects.  We have large binaries that are shared across multiple projects and get added and removed fairly frequently.  Ideally there would be a global LRU cache of objects.  The folder for this cache could be configured per project.

[2015-10-23 17:03] technoweenie opened #780 "Use .lfsconfig instead of .gitconfig"
This change would make it clear that the file is used for lfs configuration only. Though we'd want to keep supporting `.gitconfig`, and just print a warning asking them to change it to `.lfsconfig`.

[2015-10-23 17:05] technoweenie opened #781 "Rename "init" command"
The `git lfs init` command mirrors `git init` by name, which is leading some confusion about how often you need to run it. @nuclearsandwich proposed renaming it to `git lfs install`, to indicate that it's a command you only run ONCE per computer. Maybe even update the messages to let you know when you ran it again and didn't need to.

[2015-10-23 17:12] technoweenie commented on #766
Sounds like there are two use cases here:

1. Multiple clones for a CI server. Git worktrees may work here if the CI server supports them.
2. A shared object directory for multiple repos. Doable, but the upcoming `prune` command (#742) would have to be disabled for every repository. Otherwise one repository might remove every other repository's objects because they're not referenced in the first r

[2015-10-23 17:17] mbcraft commented on #774
I think i found where the problem was : git version is 1.7.9.5 . I thought that the full "apt-get update && apt-get upgrade" pushed git version to an enough recent one, but it wasn't true. Now i'm doing a dist upgrade from a LinuxMint/maya to the next one.

Anyway this is the full output :

 git-lfs/1.0.0 (GitHub; linux amd64; go 1.5.1; git 7379fa9)
git version 1.7.9.5

LocalWorkingDir=
LocalGitDi

[2015-10-23 17:17] #774 closed

[2015-10-23 19:02] megastep commented on #773
Is there an ETA for actually implementing this? This just blows my mind, are we supposed to just give up on the ability to fork if we want to use LFS in the meantime?

This is a major part of using Github that just gets broken with no advance warning when trying to use LFS. At the very least there should be something said when attempting to fork a project using LFS until this actually works.

[2015-10-23 19:56] technoweenie commented on #773
Forking works great for private projects. We don't want to charge owners for things they have no control over in a public project, though. There are a lot of places where LFS can still integrate better with GitHub, and hopefully it gets better over time.

[2015-10-23 20:03] megastep commented on #773
I figured it probably had something to do with the way Github charges for bandwidth. I think this is an incredibly shortsighted decision as it pretty much makes it impossible to use this with an Open Source project. Completely breaking the social aspects of using GitHub for the sake of greed, woohoo!

Nice going, Github! Could you at least mention anywhere in the LFS pages that this only works pro

[2015-10-23 20:12] beauhoyt opened #782 "Git push disconnects after skipping 18k~ objects and doesn't reconnect"
I'm trying to see if we can use github to store our game assets. Though when I git push to my private test repos origin it disconnects after 18k objects skipped and never tries to reconnect after it's done iterating through all the objects.

**CLI Output:**

[code]

**Versions:**

[code]

[code]

[2015-10-23 20:20] technoweenie commented on #782
Can you run this command and send me the log? Post it to a Gist or pastebin and link it here or send it to https://github.com/contact, and I can take a look:

    $ GIT_TRACE=1 git push origin master

[2015-10-23 20:22] technoweenie commented on #782
Bah, I hit enter a bit too quickly. The log will be massive as it loops through half a million objects. Are you pushing this for the first time to the git remote and lfs server?

[2015-10-23 20:27] beauhoyt commented on #782
@technoweenie It never seems to reconnect after it disconnects from github.com (so it never completes the git push). It seems like the connection to the github.com servers are timing out.

I'm running the `GIT_TRACE` and i'll send you the output in a Gist once it's done.

Thanks,

-Beau

[2015-10-23 20:34] beauhoyt commented on #782
@technoweenie It looks like when i originally posted the CLI Output the statement `Connection to github.com closed by remote host.` was pushed off the view in the code snippet.

Here's what you should have seen:
[code]

[2015-10-23 20:39] technoweenie commented on #773
I'm the lead on this project at GitHub, so I had everything to do with this, and had to make some tough choices. Unfortunately, bandwidth charges are typically much higher than storage charges, so it's tough for us to ignore. I decided to err on the side of caution (and keep public repo owners from being hit with a large bill) for now, but am considering some creative solutions to the issue. Anywa

[2015-10-23 22:26] megastep commented on #773
It is nice to be able to talk to the project lead over here, but to me this is not a technical problem as much as it is a big flaw in the associated business model, which just gets in the way of getting this stuff to work right. So unless you had a hand in establishing the completely bonkers pricing model for bandwidth with regards to LFS, I wouldn't be so quick to pin the responsibility for this

[2015-10-23 22:39] beauhoyt commented on #782
Hi @technoweenie,

Here is what you asked for. Hope it helps. If you need anything else please let me know.

Thanks,

Beau

---

__Here is the gist:__
https://gist.github.com/beauhoyt/48b0e0c9b7641a32852a

__Here is the TL;DR:__
[code]
Here is where the `Connection to github.com closed by remote host.`
[code]
The end:
[code]

[2015-10-23 22:51] technoweenie commented on #782
I wonder if that ssh endpoint is having issues then? I think we can improve the client so that it doesn't call ssh as often. It may work fine if you go through an HTTPS remote until we can tweak the client.

[2015-10-23 22:57] technoweenie commented on #773
You're not wrong. Git LFS is a new product, and things will change in the future. Locking this to keep this repository focused on the repository at hand. You can send me more feedback at https://github.com/contact (if you mention LFS somewhere, it'll show up in my inbox). Thanks.

[2015-10-24 02:06] jwittner commented on #766
Git worktree looks like a potential solution, I'm using Jenkins and will have to dig into whether I can use this easily in my case. If not, I'm definitely willing to start looking at a Git-lfs solution. Caveats: I'm new to Go and new to Git. If someone else wants to pick this up before that, just let me know here. I'll get back to this thread next week after digging into the worktree solution and

[2015-10-24 12:05] KingScooty commented on #700
I think this is still an issue :/

[code]

Returns blank.

[code]

Returns this:

[code]

[2015-10-24 12:23] KingScooty commented on #700
Weirdly, if i also track the folder the PSDs are in, it works fine.

[2015-10-25 00:15] hellkama opened #785 "Clone fails with GitHub Desktop"
Hi,

I migrated a repository to use LFS for some file types using the https://github.com/bozaro/git-lfs-migrate.

It went without problems and i was able to clone the migrated repository with git and git-lfs 1.0.0.

However trying to clone the same repository with GitHub Desktop fails for some reason.

I also tried adding the local repository I cloned earlier successfully to the GitHub Desktop. It

[2015-10-25 01:04] technoweenie commented on #785
Your best bet is sending the details to https://github.com/contact, as this repository is for the open source git-lfs client.

[2015-10-25 01:04] #785 closed

[2015-10-26 10:34] sinbad commented on #780
:-1: Amen to this. I only just realised there was support for a `.gitconfig` file in the working copy root, I misread it previously as meaning one of the other standard `.gitconfig` files.

[2015-10-26 10:35] sinbad commented on #781
:+1:

[2015-10-26 10:47] shiftkey commented on #781
:thumbsup:

[2015-10-26 10:56] sinbad commented on #766
You mean unrelated repos? If they were required to register with the shared directory somehow (just a dir with files that are pointers back to the repo) then prune could follow that and behave like it does for worktree, including those other repos in the retain set. Would need an equivalent of `git worktree --prune` to tidy up references to repos that went away though, and moving repos could be an

[2015-10-26 14:35] technoweenie commented on #700
What do all of your repository's `.gitattributes` files look like? The `git lfs track` command only shows those with `filter=lfs`, but it's possible for other filters to interfere with Git LFS.

[2015-10-26 16:07] cjs opened #787 "GitHub Enterprise in private mode sends a 403 for info/lfs/objects/batch"
When a GitHub Enterprise instance is configured in private mode, it returns 403 when a POST to https://[hostname]/testuser/testrepo.git/info/lfs/objects/batch is sent.

This causes the error:

[code]
Version tested is:

git-lfs/1.0.0 (GitHub; darwin amd64; go 1.5.1)
git version 2.4.9 (Apple Git-60)

Possible workarounds:

1) use a remote URL with a username:token in it (however, this is bad securi

[2015-10-26 16:58] technoweenie commented on #787
Unfortunately, 403 is a typical response that means _something_ is there. It'd be really easy to change [here](https://github.com/github/git-lfs/blob/8c655a86cdc030ce809b95e64b42ecdc811de9ea/lfs/client.go#L244-L247), but would also disable the batch api in GHE 2.4+ because those also return 403 for the batch API.

I don't see how we can support this custom (and incorrect IMHO) response code withou

[2015-10-26 17:26] jwittner commented on #459
I'm all about this as well, :+1: It would help with CI - Jenkins Git Plugin, for example, allows using reference repos on clone operations.

[2015-10-26 19:04] cjs commented on #787
Adding another workaround: connecting via SSH instead of HTTPS.

@technoweenie I agree. I think the workaround, while annoying, is better than having one-offs for each server's implementation.

[2015-10-26 20:58] FeodorFitsner opened #789 "Silent installation option for git-lfs Windows installer"
Hello,

Windows installer is made with NSIS however it doesn't respect `/S` (silent) option for unattended installation ([this](https://github.com/github/git-lfs/blob/master/script/nsis/installer.nsi#L41) should be avoided in silent mode too). That would be especially useful for headless CI environment such as AppVeyor.

Thank you!

[2015-10-26 23:50] exalted opened #791 "GitHub pages won’t load files tracked using git-lfs"
Say `/foo.png` is **NOT** tracked using `git-lfs` in repository `username.github.io`, then if you access to `http://username.github.io/foo.png` you see image just fine.

If you were to track `/foo.png` using `git-lfs` (i.e., `git lfs track foo.png`), then if you access to `http://username.github.io/foo.png` the image is not available.

This may be related to GitHub pages rather than https://github

[2015-10-26 23:59] technoweenie commented on #791
GitHub Pages does not support Git LFS. Contact us at https://github.com/contact to talk further about it.

[2015-10-26 23:59] #791 closed

[2015-10-27 00:00] exalted commented on #791
:+1:

[2015-10-27 10:32] sinbad commented on #779
I've previously (#378) had a go at abstracting the APIs to add SSH as a usable for complete API round-trip. That needs completely revisiting now but were you happy with the general principles? If so I could take this on at the same time as revisiting SSH.

[2015-10-27 10:35] beni05 commented on #779
On large layouts, such as the landing page of a website or a full-page print ad, the Apple Pay
mark and the Download on the App Store badge can appear on the same layout when each
is placed in a dedicated tile or other area with content that promotes either Apple Pay or an
app. Do not place the Apple Pay mark and the Download on the App Store badge together
in a tile. The Apple Pay mark and Downlo

[2015-10-27 12:50] technoweenie commented on #789
Would it help to have a zip of just `git-lfs.exe`? I'm thinking about ditching nsis in a future release (maybe v1.1).

[2015-10-27 12:52] technoweenie commented on #705
/cc @github/desktop: I'm cutting a new release. I'll have new mac and windows builds for you shortly.

[2015-10-27 14:38] N-Coder opened #794 "lfs is not tracking any files and sometimes crashes"
Even though I tracked a whole directory with "git lfs track resources", new or changed files in that directory don't show up.
Running "git reset HEAD '*' && git add -A" sometimes seems to refresh the lfs status so that it is displayed correctly, but that doesn't work reliably.
Sometimes when running git lfs status I get the following error:
[code]

[2015-10-27 14:43] technoweenie commented on #794
Problem A: Git LFS not tracking files

Try running `git lfs init` and then `git add` again. It looks like you installed from the RPM, which doesn't run this command for you. If that doesn't work, can you send the output of the following commands, when run from inside your repo?

[code]

Problem 2: Crash

It looks like that error "bad map state" is coming from [here](https://github.com/github/git-l

[2015-10-27 15:40] technoweenie commented on #743
v1.0.1 has a windows zip file now (the "Windows AMD64" release): https://github.com/github/git-lfs/releases/tag/v1.0.1. Does that work?

[2015-10-27 16:29] anurse commented on #743
Looks perfect! Thanks!

[2015-10-27 16:29] #743 closed

[2015-10-27 16:50] technoweenie commented on #779
I think your [interface](https://github.com/sinbad/git-lfs/blob/feature/ssh/lfs/api.go#L9-L33) is too big. Of course, this was before the batch API was finalized and all that. But I'd like to see something like:

[code]

I don't know if we'll need `*Check` too. Ideally all of the commands just use this high level interface. I think it'll be nice to get all the http client and batching code out of

[2015-10-27 17:56] boblaublaw commented on #787
Am I correct in reading that one of the workarounds is required for any private gitub repo?

[2015-10-27 18:33] technoweenie commented on #787
Enterprise 2.4 returns 401 instead of 403, so it supports the auth workflow properly. It means public repositories still require a login, but that's the whole point of Enterprise's private mode feature.

[2015-10-27 18:35] sshillo opened #796 "Can't track already commited files"
From the docs seems like you have to commit a file after you track it, but what am I supposed to do if the file is already committed. Doing ```git lfs track file``` doesn't seem to work in this case

[2015-10-27 18:41] technoweenie commented on #796
First, you don't need to track individual files. Tracking file types and/or directories should be fine:

[code]

Second, Git LFS has no control over when Git runs its filters. You'll have to wait until the file changes before it runs it through the `clean` filter again.

Here's a repo where I was testing this:

[code]

No change for "abc.txt" even though I added it again explicitly. Updating the f

[2015-10-27 18:58] sshillo commented on #796
Okay got it thanks

[2015-10-27 18:58] #796 closed

[2015-10-27 19:19] technoweenie commented on #794
Looks like a race condition accessing that `nameMap` var. Should be an easy fix.

[2015-10-27 19:29] boblaublaw commented on #787
I see.  Apologies as I'm not as familiar with the Enterprise product line.

Our organization is currently not using Enterprise, but we are using paid private repos - does this mean a workaround is required?

[2015-10-27 20:17] technoweenie commented on #787
@boblaublaw Nope. GitHub Enterprise ships with a "private mode" feature that wraps all requests (even to public repositories or gh pages) behind authentication. Before GitHub Enterprise 2.4, private mode would return 403 responses if no authentication was passed. I changed it to 401, which is semantically correct.

[2015-10-27 20:20] boblaublaw opened #797 "API rate limit exceeded for ... Authenticated requests get a higher rate limit"
Hi all, I suspect I'm dealing with a misunderstanding here, but when attempting to clone/fetch a repo with a lot of LFS content, I'm now encountering an error:

"API rate limit exceeded for $(MY_IP). (But here's the good news: Authenticated requests get a higher rate limit. Check out the documentation..."

My confusion here is that I was prompted for my credentials on the initial clone, but i susp

[2015-10-27 20:29] nbazzeghin commented on #746
I am also getting this when a repo i just setup.

    git-lfs/1.0.1 (GitHub; windows amd64; go 1.5.1; git 2182d86)
    git version 1.9.5.msysgit.0

[2015-10-27 20:35] technoweenie commented on #746
Sorry for the hassles. This was a bug caught just a bit too late for 1.0.1, but is fixed in master:

https://github.com/github/git-lfs/pull/795

You can either go back to v1.0, or run `git lfs pull` from inside the repo directory. We should have a fixed v1.0.2 out tomorrow. :angel:

[2015-10-27 21:17] N-Coder commented on #794
I've already run 'git lfs init', so this is the output without running it again:
[code]

After I couldn't reproduce the crash for some time I tried to add the files again and found out that I have to commit them so that they really show up:
[code]
Could this be because I was working in a subdirectory or do the files have to be newly added ones so that git lfs tracks them properly?

[2015-10-28 00:19] boblaublaw commented on #797
HTTP remote URLs seem to encounter this rate limit error, but by changing my remote to "git@github.com:/Team-Name/Repo-Name" I am now able to clone, but the clone speed is about 40Kbps, which for a 2GB repo is problematic.

[2015-10-28 00:29] boblaublaw opened #798 "ssh remote URL must include "git@" prefix"
I'm noticing that when my remote is set to either:

"github.com:/Team-Name/Repo-Name"  OR
"ssh://github.com:/Team-Name/Repo-Name"

i get unsupported scheme errors despite being able to confirm ssh authentication using command line ssh to verify.  This is because my .ssh/config file specifies my username as "git".

I believe this is because git is correctly detecting the ssh repo specification, but

[2015-10-28 00:35] #705 closed

[2015-10-28 00:36] technoweenie commented on #798
It's not _intended_, but the shortcuts and alternatives haven't been implemented yet. There's a really old issue tracking this, but haven't found anyone interested in working on them yet: #278 #295

I'll add them to the list for v1.1 if we have time for it: #755

[2015-10-28 02:03] FeodorFitsner commented on #789
Sure, zip could be a great addition to MSI for "advanced" installations (when you know where to unpack the zip and what to do next).

[2015-10-28 12:19] strich opened #799 "Git LFS installers should run 'git lfs init' as part of installation"
Given that `git lfs init` is a global command I figure it might make sense to do this as part of the installation script on any platforms that have it (Windows).

It would obviously still need to be in the installation documentation for any methods where the user is simply extracting the package on to the computer.

[2015-10-28 13:15] gogodave opened #800 "1.0.1 breaks clone"
I can clone a repo using git-lfs 1.0.0.   After upgrading to 1.0.1, cloning the same repo gives the error below.   Reverting to 1.0.0 fixes the issue.

    ❯ git lfs logs last
    git-lfs/1.0.1 (GitHub; linux amd64; go 1.5.1; git a999185)
    git version 2.4.8

    $ git-lfs smudge out/bzImage
    Error accessing media: out/bzImage (7011e311055932c24a68ff96ad275e3fc635ad8be504e670c125ab704c7285a4)

[2015-10-28 13:43] strich commented on #800
I can confirm the same thing happens with:
[code]

Detailed log:
[code]

[2015-10-28 14:12] larsxschneider commented on #800
I can confirm that, too. I swichted back to 1.0.0 and everything works again. Here is a complete log:

[code]

[2015-10-28 14:15] strich commented on #800
It actually looks like this issue exists in v1.0 too, however recent commits just made the error an explicit panic exit: https://github.com/github/git-lfs/commits/master/commands/command_smudge.go

If I look at my v1.0 lfs logs I can see plenty of the same `Error accessing media: ` errors.

[2015-10-28 14:39] sinbad commented on #779
Yeah, most of that is because of the previous need to support individual objects as well as batches. Whether we need `*Check` depends on whether this interface is supposed to complete the upload/download or just return resources through which the actual upload/download could subsequently be performed - which is what your interface suggests (it's akin to batch in my previous one).

That would be fi

[2015-10-28 15:30] technoweenie commented on #800
@strich:

What does `git lfs env` say? It looks like you're not using an https or `{user}@{server}` ssh remote.

@larsxschneider This fixes your issue: https://github.com/github/git-lfs/pull/795. Found that _right_ after the v1.0.1 release. I'll cut a new one today.

[2015-10-28 15:33] technoweenie commented on #799
Totally. We use the nsis installer for windows, but I've been thinking about switching to [another one](http://www.jrsoftware.org/isinfo.php) for v1.1. I haven't had much windows experience, so any help here is appreciated.

[2015-10-28 15:38] technoweenie commented on #797
Interesting. While separate, Git LFS uses the same git credential stuff that is configured for git. If your Git LFS server is hosted by your Git host, it _should_ only require one https password for Git and Git LFS.

This is kind of gross:

    # run this in your local repo. the config key should be all lowercase.
    $ git config lfs.https://github.com/github/git-lfs-test.git/info/lfs.access basi

[2015-10-28 15:44] strich commented on #799
Yeah I saw that. I had planned to take a look at implementing that task myself soon if no one else picks it up.

[2015-10-28 15:56] technoweenie commented on #799
@strich We have an [Installation chat room](https://gitter.im/github/git-lfs/installation) (in addition to the main lfs chat) if you want to rap about it in more real time :)

[2015-10-28 17:20] technoweenie commented on #800
Git LFS v1.0.2 is out, which should fix your issue, @larsxschneider:

https://github.com/github/git-lfs/releases/tag/v1.0.2

Still working on getting the various linux and homebrew stuff shipped.

[2015-10-28 21:34] jwittner commented on #766
Worktrees are working for me so I'm not compelled to add this functionality right now. @sinbad for the win.

[2015-10-29 01:55] Kwizatz commented on #797
I am getting the same issue but when trying to do a push on a re-lfs created repository. I get prompted for my username and password by git, but I don't get prompted again for CURL. The process tries to push the files over and over without authentication until the rate limit is reached, here is what gets repeated over and over with GIT_CURL_VERBOSE=1:

< Content-Length: 86
< Access-Control-Allow-C

[2015-10-29 12:40] ajohnson23 opened #802 "Please add multipart file downloads"
I'm pulling down a single file that's about 160 MB (no other lfs tracked files in this particular repo, which means no batch mode parallelism) with the git lfs pull command and it takes 3.5 minutes.

Using a segmented download manager (downthemall with Firefox), I can download the same file from the github.com interface by right-clicking "View Raw" and saving it in a fraction of the time - about 6

[2015-10-29 15:11] technoweenie commented on #802
Sounds like a great idea :+1:

[2015-10-29 16:59] leecade commented on #753
:+1: OSX 10.11.2

[code]

[2015-10-29 18:39] benelot opened #804 "Can not delete Large Files from repo again."
I have some large files that I checked into the original repo before I was forced to upload to LFS. Now that I want to remove them with the newest commit, I can not do it because the lfs-hook tells me that it detects large files.

How to reproduce:
-Upload a too large file into a github repository (I can not tell you how, as this was done pre git-lfs)
-Try to delete it again with another commit.
-

[2015-10-29 19:50] technoweenie commented on #804
You need to rewrite your commits before pushing. If you've already pushed commits with big files, you'll need to do a migration that involves a force push at the end. This GitHub help article is a good start:

https://help.github.com/articles/removing-files-from-a-repository-s-history/

[2015-10-29 23:16] nkatre commented on #697
@technoweenie solution DID NOT work for me.

[2015-10-29 23:44] pointcache commented on #697
@nkatre if you are on windows try doing this
$git config --global credential.helper wincred

[2015-10-30 10:23] hayesmaker opened #805 "how do you make git-lfs play nicely with herkoku?"
Since installing git-lfs in my github repo, my deploys to heroku fail like this:
[code]
How do you make lfs play nicely with heroku deploys?

I tried removing .gitattributes, and the folder with lfs assets inside, and git ignoring them from my deploy branch before pushing to heroku, but this error persists.

[2015-10-30 10:39] larsxschneider commented on #800
@technoweenie Unfortunantly 1.0.2 still doesn't work for me. Do you see what is wrong?

[code]

[2015-10-30 11:01] sinbad commented on #779
Scratch that, I think we need 2 separate interfaces, one for the API and one for the content operations (actual upload/downloads). A package (say core has one for HTTP, one for SSH initially) can provide both implementations if they want. Also it should be perfectly acceptable to call the API over SSH and download over HTTP or vice versa.

I'd still like to call the API functions `RequestUpload` a

[2015-10-30 13:31] technoweenie commented on #805
Try removing the `.git/hooks/pre-push` hook. However, if you keep using Git LFS, it'll re-install that hook automatically.

We can look at setting up a no-hook mode if you need to work with LFS repos, but also deploy through Heroku (or any similar git interface for deployments). It would just require you to manually specify `git lfs pull` and `git lfs push` when working out of your origin git remo

[2015-10-30 13:43] technoweenie commented on #800
That looks like a response from GitHub Enterprise's private mode setting. GitHub Enterprise 2.4 sends a 401 instead, which Git LFS interprets just fine.

If you run `git lfs env`, what is `auth` set to?

[code]

If `auth=none`, then Git LFS will not send authentication by default. If the server responds with 401, it sets a git config value which changes the auth setting from `none` to `basic`. Now

[2015-10-30 13:52] technoweenie commented on #779
Do we really _need_ the second interface? All the commands should care about is whether their objects were uploaded or downloaded. It shouldn't matter to them if that requires a single batch API request and individual content requests, multiple (legacy) API and content requests, or a single SSH connection.

I suppose one benefit of this is that an SSH API adapter could take advantage of the existi

[2015-10-30 13:58] technoweenie commented on #697
Hey all, my workaround above was for a very specific API issue on GitHub. It's all fixed now on our server, so any 403 issues will not be solved by my suggestion. If you have other 403-related issues, please send details to a new Git LFS issue or https://github.com/contact if you want to keep it private. Though @pointcache is correct, having a functioning git credential helper will go a long way.

[2015-10-30 14:13] sinbad commented on #779
2 reasons - firstly there are cases where you need to know if an object is on the remote, *without* actually downloading it, for example:

* `push` - to determine if it's ok that objects referred to in the graph are missing locally
*  `prune` - to confirm objects really are on the remote before deleting

Secondly, the API and content transfer are orthogonal sets of operations. Just because you're

[2015-10-30 16:19] technoweenie commented on #779
This seems more like a case for `RequestUpload()` and `RequestDownload()` on `ApiContext`. And IIRC, both of those only check the LFS api and not the content api (s3).

The HTTP and SSH API objects can share code internally. but I don't think any of this should be exposed to the `commands` package. There should be no extra configuration of an LFS server beyond its endpoint if we can avoid it.

I d

[2015-10-30 20:56] bunnybones1 commented on #740
I haven't seen it again but I'll provide a repo if I do.

[2015-10-31 19:34] Leviathan1753 commented on #797
I'm getting similar errors.  I tried to checkout my partners branch in order to do a merge, and I'm getting git lfs errors related to API rate limit exceeded.

D:\Repos\Black Ink Studios\Black-Ink>git lfs version
git-lfs/1.0.2 (GitHub; windows amd64; go 1.5.1; git 0566698)

D:\Repos\Black Ink Studios\Black-Ink>git lfs fetch
Fetching Justin-PC
(0 of 2309 files) 0 B / 4.42 GB
API rate limit exceeded

[2015-10-31 20:45] Leviathan1753 commented on #797
Something I've noticed a lot since I started using gitlfs, is that the GitHub Desktop powershell is way more reliable than any other system I've used.  I've repeatedly had trouble doing certain tasks via SourceTree, and even GitHub Desktop, but pop open that powershell, and it always seems to work like a charm.

Yet again, doing this checkout via the powershell worked wonders.

Is there some major

[2015-10-31 20:54] Leviathan1753 opened #808 "Powershell succeeds when others don't"
I've noticed this since I started using GitLFS.. but the powershell from GitHub Desktop will work and succeed at tasks when all other methods crash and burn.

Typically I'll do my work in SourceTree, but some major tasks that seems to suck/fail on.  So I'll switch to GitHub Desktop, and sometimes that'll do it better, sometimes not.  However, going to the powershell in GitHub Desktop seems to -alw

[2015-11-01 07:58] hayesmaker commented on #805
removing that file fixed the problem for now... I'll add `rm .git/hooks/pre-push` to my deploy script. :dancer:

[2015-11-01 15:14] shiftkey commented on #808
@Leviathan1753 there's a log file found at `%LOCALAPPDATA%\GitHub\TheLog.txt` that will have some extra details around what might be occurring.

Also, we published an update to Git LFS 1.0.2 during the week. This might be related, but I'd love to understand what differences there are between the GUI and running commands in PowerShell.

[2015-11-02 10:26] sinbad commented on #779
Yep, which is why I think they're a separate interface. In practice the server side of the API may be checking the content store unless it caches info but the client only talks to the API.

Sorry if I wasn't clear on that, but yeah I had no intention of the split being visible to the code in the `commands` package. This is why I was saying that the code path should be picked entirely based on the

[2015-11-02 15:52] seymour1 opened #809 "Collaborators without Git LFS produce errors when merging upstream changes"
According to https://help.github.com/articles/collaboration-with-git-large-file-storage/, it seems that collaborators should be able to contribute without forcing install of Git LFS, but they just won't have access to the large files- only the pointer files.

This is fine for my purpose- I want to be able to let contributors generate the large files and PR them back into the original repo, and the

[2015-11-02 17:18] #805 closed

[2015-11-02 17:44] technoweenie commented on #779
@sinbad: Sounds good. I didn't think about the client being a concrete object, and only using LFS API/Content API interfaces internally.

:+1:

[2015-11-02 17:55] technoweenie commented on #809
That command is likely coming from some git config left over from uninstalling Git LFS. If you've never installed it, Git will be completely oblivious about LFS.

1. Clear any `filter.lfs` config settings.

[code]

2. Remove any LFS pre-push hooks:

        $ rm .git/hooks/pre-push

Every user and collaborator should be using Git LFS to be effective. You won't be able to make PRs changing LFS cont

[2015-11-02 18:34] seymour1 commented on #809
Hi again!
So, there's very little chance that Git LFS was installed on the machine previously. If it helps, the collaborator was using Mac OSX- so maybe this should just be documentation of a possible issue for the future. If this crops up again, I'll try those commands and see if the issue continues.

As for the all users having Git LFS- my particular use case (distributing work units) doesn't re

[2015-11-02 23:08] technoweenie commented on #809
BTW If you install Git LFS and want to remove it, running "git lfs uninit" will remove those config settings too.

[2015-11-02 23:08] #809 closed

[2015-11-03 00:24] bitshifter opened #810 "Windows installer is missing man pages"
There appear to be man pages for the git-lfs command in the git repo, but no documentation is included in the Windows installer.

[2015-11-03 00:26] technoweenie commented on #810
You can use "git lfs help <cmd>" to pull up the man page for a specific command. While man page support would be nice for Windows (and if you or someone knows how to do this, I'd really appreciate the help), but the Windows cmd has no concept of man pages AFAIK. I'm open to suggestions or especially PRs from someone with Windows experience here.

[2015-11-03 02:26] bitshifter commented on #810
Actually, you should probably just ignore this, as it's peculiar to my setup.

The "official" [Git for Windows](https://git-for-windows.github.io/) is built on top of [MSYS2](https://msys2.github.io/), a Cygwin (POSIX emulation layer) derived distro which uses Arch Linux's pacman package management. So Git for Windows comes with a bash shell and some standard Unix stuff. However, the the Git for W

[2015-11-03 07:37] difro opened #811 "git lfs track fails when git dirpath contains symlinks"
git lfs track fails with `a.gif is outside repository` if current working dir(=gitdir) contains symlinks.

Steps to reproduce.

[code]

git lfs env output

[code]

[2015-11-03 16:28] technoweenie commented on #811
Ah, this is because [the `init()` function](https://github.com/github/git-lfs/blob/b0318b25350b9abfe56af0afb01913a9b2ed56a4/lfs/lfs.go#L196-L209) uses [`git rev-parse`](https://github.com/github/git-lfs/blob/b0318b25350b9abfe56af0afb01913a9b2ed56a4/git/git.go#L450-L476) to get the working directory. We may need to use that as the base for all of the other directories too. I'll add this to the list

[2015-11-03 16:29] #804 closed

[2015-11-03 16:30] technoweenie commented on #789
Just merged https://github.com/github/git-lfs/pull/812. Should work better for Git LFS 1.1.0.

[2015-11-03 16:30] #789 closed

[2015-11-03 18:18] rasky opened #813 "Public go packages for LFS management"
I'm currently in the process of expanding a Go application that does some basic management on git repositories to add LFS support. The current code navigates a git repository using `git ls-tree` and reads file contents using `git cat-file blob` (so, spawning the `git` binary). Something really simple, like for instance:

[code]

I need to be able to expand this code to support LFS. So I would say

[2015-11-03 18:47] technoweenie commented on #813
To be clear, the `github.com/github/git-lfs/lfs` package is technically a publicly exported Go package. However, it's not intended to be used in 3rd party go apps, and is not at all what I'd consider a well designed Go package.

I would love to have well designed Go packages. Two of your three suggestions are covered by existing issues:

* Batch downloading: See #779
* Managing of a local cache to

[2015-11-03 18:50] rasky commented on #813
Wiring 3 packages would be OK for me, and it's what I would expect. A single higher-level package would probably not give me enough flexibility after all. And of course, even just one package for one of the above tasks is still better than nothing :)

[2015-11-03 21:24] #369 closed

[2015-11-03 22:58] difro commented on #811
Well, simplest solution would be cleaning paths with filepath.EvalSymlinks() for all the directories before we use/compare them.
Maybe I can have a go at it. Would this approach be ok?

[2015-11-04 00:49] rasky opened #814 "Clarification on batch API"
Is the batch API expected/required to return oids in the same order they were provided in the request?

[2015-11-04 17:00] technoweenie commented on #811
@difro: Yeah, that'd be great. Ideally, there's a shell integration test using symlinks too in [test-env.sh](https://github.com/github/git-lfs/blob/master/test/test-env.sh). I can help out there if you don't feel like writing some shell code too though :)

[2015-11-04 17:07] technoweenie commented on #814
I don't think so. The client doesn't care about the order.

[2015-11-04 19:32] rBatt opened #815 "Tiny local lfs files; remote says they're big"
I have files being tracked by git-lfs that locally are tiny:
<img width="569" alt="screen shot 2015-11-04 at 2 31 29 pm" src="https://cloud.githubusercontent.com/assets/5630847/10949429/c82370a2-8300-11e5-816e-3a728f1e84b1.png">

However, on GitHub it says they are much larger (appropriate size); for example, `newf.zip` is 6.64 MB, and GitHub says it's being tracked by lfs.

If I do a `git pull`,

[2015-11-04 19:39] rBatt commented on #815
Also, and possibly related, I remember at one point reading that I might need to do a `git lfs pull` to pull in the larger versions of files from a remote instead of the pointer only (pardon if my language is incorrect here); however, I can't seem to find any documentation on that now.

Furthermore, apparently `git lfs pull` is no longer a command. Was it replaced by something else?

[2015-11-04 19:47] technoweenie commented on #815
What does `git lfs env` say?

[2015-11-04 19:54] rBatt commented on #815
[code]

So apparently it has me on the old version of `git-lfs` again. I have 1.0.2 installed through Homebrew. My `echo $PATH` is

[code]

How do I delete that old `git-lfs`? Is that the problem?

[2015-11-04 19:55] technoweenie commented on #815
Run `which git-lfs` to see where the old version is being referenced from. You can safely delete that one, so hopefully the homebrew one will take precedence.

[2015-11-04 19:57] rBatt commented on #815
Also, it might be worth pointing out that I have this directory sync'd among 3 computers using BitTorrentSync. I don't know if you're familiar with it, but I've used BTS to sync directories managed by Git for a couple years w/o problems.

I'm a git novice, though.

My computer at home is new, and I've only ever installed git lfs 1.0.2 on it. For that machine, the current `git lfs env` is:

[code]

[2015-11-04 19:58] rBatt commented on #815
`which git-lfs` on my current (outdated) machine reads `/usr/local/bin/git-lfs`.

But that's the homebrew directory, right?

[2015-11-04 20:04] rBatt commented on #815
I just went in an deleted the old Homebrew versions of `git-lfs` in the `/usr/local/Cellar/git-lfs`. Now only 1.0.2 is left there.

[2015-11-04 20:08] technoweenie commented on #815
You need to run `git lfs init` on every computer that you have git lfs installed. That will set the `filter.lfs.*` config values globally. This is why your git clones are not downloading the files for you. Running `git lfs pull` should not be necessary.

Also, without the `filter.lfs.clean` setting, you won't be able to add files through LFS, even if they're tracked.

By default, yes. You can run

[2015-11-04 20:08] technoweenie commented on #815
Ok now that you have v1.0.2, run:

[code]

[2015-11-04 20:11] rBatt commented on #815
Do `git lfs init` on all machines? I've done it on my current machine. The files are sync'd between them all, so even if I never explicitly typed `git lfs init` all files in the directory are the same. But I'll go through and type it everywhere.

[2015-11-04 20:13] technoweenie commented on #815
Yes, it sets up `filter.lfs.*` settings in the global git config for each machine. This config cannot be shared, unless you're syncing `~/.gitconfig` between all your computers.

[2015-11-04 20:14] rBatt commented on #815
After typing `git lfs init` on the 3 machines, these are the results:

Local Machine:
[code]

Remote Machine 1 (the new one):
[code]

On one Remote Machine 2 I got:
[code]

Thanks for you comment about `filter.lfs.*` and `~/.gitconfig`. I did not know about that.

Should I force the `git lfs init --force` on the Remote Machine 2?

[2015-11-04 20:15] technoweenie commented on #815
Yup. Changing `git lfs clean` to `git-lfs clean` is a tiny micro optimization, but it doesn't hurt.

[2015-11-04 20:19] rBatt commented on #815
Ah, brilliant! I just did the `git lfs pull` on my Local Machine, and all my big files are back.

Related note: If I started collaborating with people who had forgotten to install `git lfs`, would they experience issues similar to what I just encountered? I.e., if they pulled down the repo, they would see tiny files? I'm trying to get our whole group to start using `git lfs`, and I haven't been su

[2015-11-04 20:24] rBatt commented on #815
And just to be clear, I'm not syncing `~/.gitconfig` among computers, so that was at least part of the problem.

It seems that my first mistake was improperly updating (`upgrade`) git-lfs through Homebrew; version 0.5.4 was still being used. The second mistake was not doing `git lfs init` on each machine, because even though the repo is syncd between computers, there is a file `~/.gitconfig` that

[2015-11-04 20:25] rBatt commented on #815
Oh, and as you requested, post-`git lfs pull`, a `git lfs env` gives the following:

[code]

[2015-11-04 20:26] technoweenie commented on #815
Yup. Git LFS works by inserting itself into some low-level Git hooks (the `filter.lfs.*` setting). Without Git LFS installed, git clones will just happen like normal, just like your experience in the original post.

Only once for each computer. You don't need to run it after upgrades or with new repos.

By default, git lfs (using the `filter.lfs.smudge` setting) will automatically download everyth

[2015-11-04 20:37] rBatt commented on #815
To be clear, you're saying that I only need to do `git pull` in the future? Such that `git lfs pull` is entirely redundant with `git pull`?

Thanks so much for your help. Very cool product, and surprisingly easy to troubleshoot when I have run into a problem (the problems reflect on me, not git-lfs, btw!).

[2015-11-04 20:43] technoweenie commented on #815
Yes.

While there are some common unix/git concepts that lead to your problems, I think the Git LFS documentation should be able to help you out a LOT more too. Thanks for checking it out, and your patience getting to the bottom of this!

[2015-11-04 20:43] #815 closed

[2015-11-04 20:49] #814 closed

[2015-11-04 21:00] lbergelson commented on #683
this seems to be resolved, thank you!

[2015-11-04 21:00] #683 closed

[2015-11-04 21:01] lbergelson commented on #737
Fixed by 1.0.1 (or at least by 1.0.2, didn't actually try it on 1.0.1) as promised!  Thank you.

[2015-11-04 21:01] #737 closed

[2015-11-04 21:01] technoweenie commented on #737
Thanks for following up!

[2015-11-04 21:02] lbergelson commented on #287
This is super out of date now, we're just using the git hub storage since it's available now.  Closing since it's no longer relevant to me.

[2015-11-04 21:02] #287 closed

[2015-11-05 06:15] difro commented on #811
yeah, skimmed over test-env.sh and I feel it's better that you take a look at it :)

git lfs env after applying #816
[code]

[2015-11-05 14:59] datalogics-bhaugen opened #817 "Using 'git add" with LFS and 3.76GB causes fatal error"
First time experimenting with LFS, trying to add a large PDF to my repository though and it fails when running _git add_ with

On Mac OS X El Capitan, any thoughts? Is the file just to large for it to handle?

[2015-11-05 15:05] technoweenie commented on #817
There should be more details printed somewhere. Does anything show up from `git lfs logs last`? If you have more detailed log that you don't want public here, feel free to send it to https://github.com/contact, or send me a private message on our [gitter chat room](https://gitter.im/github/git-lfs).

Also, GitHub sets a 2GB limit on individual LFS objects. This isn't a factor _here_, but will caus

[2015-11-05 15:08] datalogics-bhaugen commented on #817
````git lis logs last```` results in

No logs to show

Does GitHub Enterprise have the same 2GB limit?

[2015-11-06 10:11] shana opened #819 "Windows installer is ignoring installation path"
I just ran the windows installer and it had the Desktop as the default path for the installation (which isn't really the best place to put executables, tbh).

I changed the path, and it extracted the uninstaller to the custom path I gave it, but the `git-lfs.exe` executable went to the Destkop anyway and not the custom path.

[2015-11-06 16:56] technoweenie commented on #819
Doh. IIRC, nsis forced me to add an [install dir](https://github.com/github/git-lfs/blob/b0318b25350b9abfe56af0afb01913a9b2ed56a4/script/nsis/installer.nsi#L4), though it [looks for Git in common locations](https://github.com/github/git-lfs/blob/b0318b25350b9abfe56af0afb01913a9b2ed56a4/script/nsis/installer.nsi#L21-L34). I was hoping to get around having to edit the system path.

I wanted to try o

[2015-11-06 18:00] shana commented on #819
The easiest way to make an installer is to use Wix, really. That's what I use for the visual studio extension, there's no funky/weird UIs or things, it's just command line tools and a simple template file to  create an installer, most straightforward thing ever.

[2015-11-06 18:02] shana commented on #819
I can throw a wix template together quickly if you want to try it out. What are the rules for the installer? (i.e., what does it have to put where, are there registry keys, are there arch-specific things it needs to do, etc)

[2015-11-06 18:41] technoweenie commented on #819
That would be amazing :metal: A cli interface is definitely preferable when cutting releases. Especially if I have multiple builds to deal with. I started with nsis because I found a `makensis` command in homebrew, and I had dreams of building windows installers from my Mac. Unfortunately, I needed Windows to sign the installer anyway, so I never actually used `makensis`.

Yea, agreed.

Ideally, w

[2015-11-09 15:39] simwodb1 opened #823 "sim wod"
Me for u

[2015-11-09 15:39] #823 closed

[2015-11-09 15:51] WillHipschman opened #824 "Lfs Track Doesn't Respect Line-Ending Settings"
On windows systems when git is set to use CLRF as line endings git lfs track creates an attributes file with LF line endings. We should respect whatever the git setting is.

[2015-11-09 15:57] technoweenie commented on #824
LFS was designed for binary objects, so I didn't really plan on people throwing massive json dumps in LFS or whatever. That said, since it IS happening, I'll accept a patch for it :+1:

[2015-11-09 16:29] technoweenie commented on #817
Yes. Again, based on what I can see, that issue is not affecting you here. This seems to be coming from the Git LFS client code. If I can see a better error, I can help track it down.

[2015-11-09 16:30] #800 closed

[2015-11-09 19:07] zite opened #825 "Tracking an object with "git lfs track .\filename.ext" does not track the file"
When using tab completion on the github cli for windows (powershell) it autocompletes filenames to .\filename.ext. This creates a .gitattributes file like the following entry:

.\filename.ext filter=lfs diff=lfs merge=lfs -text

When later adding that file to a commit it is not processed as a git-lfs tracked file.

[2015-11-09 19:12] technoweenie commented on #825
Thanks, that's something the track command can clean up. However, you don't normally want to track individual files. If the extension is something that you always want included in Git LFS, track it with:

    # with the quotes
    git lfs track "*.ext"

If you really want the filename, simply change the `.gitattributes` file to `filename.ext filter=lfs diff=lfs merge=lfs -text`.

[2015-11-09 21:45] rBatt opened #826 "Possible problem using Git LFS to Travis build R package"
I'm not 100% sure this is related to Git LFS, but I have a suspicion.

I have a private GitHub repo. Using Git LFS to build an R package that has many large-ish binary files.

[I asked this question on Stack Overflow](http://stackoverflow.com/questions/33610280/error-building-r-package-on-travis-ci-with-git-lfs)

Here is some of the Travis log right before the error; there were many more Warnings

[2015-11-09 21:47] rBatt commented on #826
Quick confirmation: the number of warnings like this is exactly equal to the number of .RData files I have. I'm guessing that the R check is confused because the .RData file is actually 3 lines of text!

[2015-11-09 21:54] technoweenie commented on #826
I don't think Travis supports Git LFS. You may have to install it with your travis build, and manually run "git lfs pull".

[2015-11-09 21:56] rBatt commented on #826
Gotcha. How would I install it via for travis?

[2015-11-09 22:03] technoweenie commented on #826
They have docs on installing dependencies: http://docs.travis-ci.com/user/installing-dependencies/#Installing-Ubuntu-packages. The Git LFS packages are in a custom apt repo: https://packagecloud.io/github/git-lfs.

You could also get away with downloading the correct build from https://github.com/github/git-lfs/releases/tag/v1.0.2. Probably the linux amd64 one.

I'm no expert on Travis though.

[2015-11-09 22:39] rBatt commented on #826
OK, that helped.

I'm following the Travis instructions here:
http://docs.travis-ci.com/user/installing-dependencies/#Installing-Packages-from-a-custom-APT-repository

And I'm combining that with the Git LFS instructions here (under the "Manual" tab):
https://packagecloud.io/github/git-lfs/install

I'll add the following to the top of my .travis.yml:
[code]

I'll report back ...

[2015-11-09 23:48] rBatt commented on #826
I ended up just adding the following to the yaml (see https://packagecloud.io/github/git-lfs/packages/debian/jessie/git-lfs_1.0.2_amd64.deb):

[code]

But I'm getting an error at the second line:
[code]

So even though apt-get was updated, it's saying it can't install git lfs. I don't get it. Those two lines seem like they should work quite reliably, given the source.

[2015-11-10 00:45] datalogics-bhaugen commented on #817
@technoweenie what is the best way to share the file with you so you can see if you can reproduce the issue/get a better error message?

[2015-11-10 01:04] rBatt commented on #826
Following the style of:

I used this in my .travis.yml:

[code]

Was able to successfully install, but I'm thinking this build is about to fail because of "bad credentials". Here's the relevant piece of the Travis CI log:

[code]

Any ideas on how to get the credentials right?

[2015-11-10 01:11] rBatt commented on #826
I ended up getting this error:
[code]

So I ignored the git-lfs folder for the R build (R was throwing that). But I think it might still fail because of not having the full binary files (original problem ... can't get the lfs-tracked files into Travis).

But getting closer b/c it's looking like I managed to get Git LFS installed on Travis.

[2015-11-10 15:56] technoweenie commented on #817
In addition to what I mentioned above, you can send it in an email to support@github.com. If it mentions "LFS" in the subject, it'll land in my inbox.

[2015-11-11 10:51] ajohnson23 opened #827 "With 'smudge --skip', if the file exists in cache use it?"
TLDR: I like running with --skip by default to prevent the slow serial downloads, but it's inconvenient to have to always run 'git lfs pull' even when the objects are already cached locally. Please consider either changing the behavior of --skip or adding another flag that avoids *downloads* during smudge (outputting the placeholder in this case), but still smudges if the object is available in ca

[2015-11-11 16:10] stolpeo opened #829 "`git lfs pull` only pulls 100 files"
In my git lfs repository there are more than 200 files. If I perform a `git lfs pull` in a fresh git clone, it only processes 100 files and then hangs (I have to break the run manually). To get all my files, I have to execute the pull 3 times:

[code]

[2015-11-11 16:25] technoweenie commented on #829
How is your git credential helper setup? I notice you're entering your password each time. I wonder if that's causing problems? Can you run `GIT_TRACE=1 git lfs pull` ?

If you have nothing to pull anymore, you can do the following:

1. Rename the `.git/lfs/objects` directory to `.git/lfs/objects2`.
2. Run `GIT_TRACE=1 git lfs fetch`
3. Remove `.git/lfs/objects` and rename `.git/lfs/objects2` back

[2015-11-11 16:43] ocs7474505 commented on #829
Mh, I didn't use any credential helper. The repository is private, I don't know if this has an impact. Thanks for your support! ... here we go:

[code]

[2015-11-11 16:50] ocs7474505 commented on #829
Ah, setting the credentials solves the problem! Thanks for that hint!

[2015-11-11 16:52] technoweenie commented on #829
Ok, my hunch is that it asked you for your credentials again, and is hanging while waiting for your reply. Clearly you should be seeing that, though. I think this gives us enough to go on. Thanks.

[2015-11-11 16:53] ocs7474505 commented on #829
Perfect, glad I could help :-)

[2015-11-12 05:15] ajohnson23 commented on #827
I opened a pull request for this, #831

[2015-11-12 06:45] dangold1138 opened #832 "github app crashes when tracking symlinks using git-lfs"
After I clone a repo using LFS, the github desktop app crashes and i get the following error

Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Invalid parameter not satisfying: gitLFSInfo != nil'

[2015-11-12 13:02] shiftkey commented on #832
Is this a public repository?

[2015-11-12 19:26] dangold1138 commented on #832
No it's not.

[2015-11-12 21:41] dangold1138 commented on #832
It seems to be related to symlinks. When i track *.png files they are fine, but as soon as I add a symlink to  a .png in the repo, it crashes the github app.

[2015-11-13 14:30] sepastian opened #833 "git lfs push not working"
After searching around for hours, i'm opening a new issue.

I have created an empty, private repository at github.com. I have added and pushed a `README.md`, `.gitattributes` and `.gitignore`.

Now I try to add files to LFS.

[code]

[code]

Then, when i try to push, I get:

[code]

No objects seem to have been created for my LFS tracked files:

[code]

Why??

[2015-11-13 15:37] gurugray opened #834 "Batch mode don't worked on clone or checkout"
We have GitHub Enterprise 2.4.1 witch support batch mode.
And we have an issue with not working on fresh clone or checkout branch with lfs-object.

[code]

But if I fetch them before switching to branch — all works great

[code]

There is git-lfs env output:

[code]

[2015-11-13 20:45] technoweenie commented on #834
@gurugray This is a limitation of Git's smudge filters. We looked at ways of getting around it here: https://github.com/github/git-lfs/issues/616, but haven't arrived at a good solution yet.

You can disable smudging completely, however:

[code]

This requires you to manually run `git lfs pull` after every clone or checkout. It's not an ideal workflow, but it will save you a lot of time when fetch

[2015-11-13 20:48] technoweenie commented on #833
Looks like one of two things:

1. The repository was cloned from somewhere without downloading LFS objects. Run `git lfs fetch [remote]` to download them.
2. Something outside of Git LFS removed those files. Git LFS itself doesn't have any code to remove these files (as of v1.0.2).

Also, you may have better luck using patterns like `*.png` instead of `*png` when tracking files through LFS.

[2015-11-14 05:23] ve3 opened #835 "Windows uninstaller freeze!"
1. Download Git lfs
2. double click to install. default path is my desktop.
3. don't run command that alert on install done.
4. there are 2 files git-lfs.exe and git-lfs-uninstaller.exe. now i seems to don't want it. i want to delete it.
5. right click on git-lfs-uninstaller.exe and run as admin because double click won't work.
6. everything on desktop freezed. can't right click. can't delete file

[2015-11-14 08:43] sepastian commented on #833
Thanks.

I changed `.gitattributes` to use `*.png` instead if `*png` (for other extensions, too).

When running `git lfs fetch`, I get

[code]

Here's the output of `git lfs env`

[code]

The repository was not cloned. I started with a directory containing my data, I ran `git init`, then set `git remote add origin ...`. I set `.gitattributes`, added some files to LFS, `git lfs ls-files` is showing

[2015-11-15 08:33] Vochsel commented on #797
I also had this problem when trying to push a repo with a new file tracked with lfs, everything seemed setup correctly, but yet still received the API rate limit exceeded errors. The problem even existed on multiple machines, and multiple new repo's. However I just installed the github desktop client and synced and it worked correctly and uploaded it to my repo on github. I'm now able to push and

[2015-11-16 11:23] arikon commented on #591
@edzis Could you provide more info on this so it could be fixed?

[2015-11-16 13:56] tampe125 opened #836 "Could not download files"
I'm having some troubles retrieving the files I stored using git-lfs.
On a computer I correctly setup GIT LFS to track and store the large files, now I'm on another pc and I want to actually fetch those files.
At the moment I only have the pointers to such files, so I tried to use `git lfs fetch` to download those files.
The download simply hangs, nothing happens (they are just 50Mb of stuff, so t

[2015-11-16 14:30] Leviathan1753 commented on #808
Sorry about the delay, somehow missed this notification.   I'll see if I can trigger the difference again and report back.  Unfortunately, it's not always a surefire way that I've found to trigger the difference.  Usually is apparent when we're doing major merges or other messy work.  I've yet to find a truly repeatable case, which is why I was a bit hesitant making this report in the first place.

[2015-11-16 16:10] technoweenie commented on #836
What does `git lfs env` show?  What about `GIT_TRACE=1 git lfs fetch`?

[2015-11-16 17:15] technoweenie commented on #833
You've run over your quota for storage and bandwidth on GitHub.

I'd have to see details of the error. But I think this means you added a Git LFS pointer file, and not the actual file.

[2015-11-16 17:16] technoweenie commented on #588
This is old, just upgrade to v1.0.2.

[2015-11-16 17:16] #588 closed

[2015-11-16 17:53] technoweenie commented on #797
@Vochsel: yes, I believe GitHub Desktop sets up your Git credential cachers for you. Every case I've seen with this issue stems from a lack of Git credentials, causing git lfs to go into a loop until the API rate limit is reached.

[2015-11-16 18:22] technoweenie commented on #835
That uninstaller is generated by [nsis](http://nsis.sourceforge.net/Main_Page). I want to look at using another windows installer toolkit for future versions though.

There's nothing weird in the [uninstall process](https://github.com/github/git-lfs/blob/b0318b25350b9abfe56af0afb01913a9b2ed56a4/script/nsis/installer.nsi#L61-L67). It just deletes `git-lfs.exe` from your system.

[2015-11-16 23:38] technoweenie opened #839 "Git LFS v2.0 deprecations"
Git LFS v2.0 is not planned yet, but we're already accumulating some deprecations in v1.x:
- [x] Remove support for `.gitconfig` https://github.com/github/git-lfs/pull/837
- [x] Remove support for `git lfs init` https://github.com/github/git-lfs/pull/838

[2015-11-17 00:07] shiftkey commented on #797
@Vochsel what @technoweenie said is correct - GitHub Desktop acts as it's own credential provider - if you've authenticated with the app, those credentials will flow through when you launch Git Shell to do anything command-line related.

[2015-11-17 07:24] tampe125 commented on #836
**git lfs env**
[code]

**GIT_TRACE=1 git lfs fetch**
[code]
Looking at the trace, it seems it's switching back and forth from basic and auth. I just cut the text, but that 401 error goes on endlessly

[2015-11-17 08:01] autious commented on #829
I have the same issue, every 100 files the fetch stops.
Based on the hint here, blindly entering my credentials and pressing enter again allows it to continnue for another 100 files.

I have no password manager installed.

[2015-11-17 08:30] sepastian commented on #833
OK, given I am over my quota, your explanation for the _Clean pointer error_ makes sense. A pointer has been created, but uploading the actual file failed because of the quota.

However, in the organization settings, it doesn't look as if any of my quota was used up.

![billing](https://cloud.githubusercontent.com/assets/14915/11206211/b6a9aa50-8d0d-11e5-8cdd-640dc7b22928.png)

I need this working

[2015-11-17 16:19] technoweenie commented on #833
@sepastian I confirmed your organization's usage and turned Git LFS on for you. You should be good to go now.

[2015-11-17 16:43] technoweenie commented on #836
@tampe125: I think there's an issue with Git LFS for users that don't have git credentials setup. Your best bet is to use SSH or setup a git credential helper for now.

https://help.github.com/articles/caching-your-github-password-in-git/#platform-windows

[2015-11-17 16:51] larsxschneider commented on #800
@technoweenie sorry for the late reply. I was distracted with other issues. Your fix helps and this happens on all our machines with Windows 7. We indeed have GHE in private mode.

What can we do about it? Do we need to setup auth after every clone?

[2015-11-17 16:56] technoweenie commented on #800
@larsxschneider Unfortunately you will have to do that until you're on GHE 2.4+. It made some major changes supporting the batch API that we couldn't backport to earlier GHE releases.

[2015-11-17 18:23] technoweenie opened #840 "Git LFS installs don't work on Ubuntu"
An ubuntu user reported to me that installs from package cloud don't work on Ubuntu when installing through packagecloud:

[code]

It doesn't output any obvious errors, but doesn't actually install anything. Luckily, you can workaround it by [downloading a specific deb](https://packagecloud.io/github/git-lfs/packages/debian/jessie/git-lfs_1.0.2_amd64.deb) and installing it with `dpkg -i path/to/gi

[2015-11-17 18:30] rubyist commented on #840
FWIW that curl command doesn't install git lfs itself, it installs sources so the package manager knows where to get it. You still have to `apt-get install git-lfs`, in this case. The packagecloud installation page isn't very clear about this.

IMO we should do both 1 and 2.

[2015-11-17 18:34] technoweenie commented on #840
So is it possible that it works just fine on Ubuntu if they just run `apt-get` right after? If so, I think we could just skip step 1.

[2015-11-17 18:37] rubyist commented on #840
No, it doesn't work on ubuntu. We still need ubuntu packages on packagecloud for it to work. The script essentially just installs some packagecloud deps and writes a sources file, it doesn't check that any packages for that distro exist in the repo. The failure comes when you try to install them with the package manager.

[2015-11-17 18:43] larsxschneider commented on #800
OK! Thanks for letting me know! We are on 2.4.0. Is it fixed on 2.4.1 or do you mean 2.5.x?

[2015-11-17 18:53] technoweenie commented on #800
It's definitely in the 2.4.0 tag. I'll have to spin an instance up and confirm.

[2015-11-17 18:55] autious commented on #781
I know this is a little stale, but i'd like clarification in case more like me stumble in here.

According to the manual:

## DESCRIPTION

Perform the following actions to ensure that Git LFS is setup properly:

* Set up the clean and smudge filters under the name "lfs" in the global Git
  config.
* Install a pre-push hook to run git-lfs-pre-push(1) for the current repository,
  if run from inside

[2015-11-17 18:58] technoweenie commented on #781
@autious: That's more of a convenience thing. Maybe I should rip that out then if it's causing confusion. Other commands like "track", "smudge", "clean", etc will install the pre-push hook too. Ideally you don't have to worry about setting up the pre-push hook yourself, because Git LFS should have already added it for you in your normal git+lfs workflow.

[2015-11-17 19:00] autious commented on #781
Oh, ok, i see, so it's "lazily" initialized.

That clears some confusion up for me, thanks!

[2015-11-17 19:11] autious opened #841 "Difference between -crlf and -text in .gitattributes"
I've seen both -crlf and -text in .gitattributes come from different machines running the git lfs track command, do they have any significant impact on file treatment?

[2015-11-17 19:15] ocs7474505 commented on #829
I typed
[code]
and this did the trick, at least for some time.

[2015-11-17 20:18] technoweenie commented on #840
@ssgelm just suggested adding packages for the supported ubuntu versions: precise, trusty, vivid, and wily.  I'll add those when I ship Git LFS v1.1.

[2015-11-17 20:29] technoweenie commented on #800
Enterprise 2.4.0 returns 401 for me:

[code]

This is the same request path from your example above:

[code]

[2015-11-17 20:41] larsxschneider commented on #800
I should note that I only see that problem on Windows... not on OSX... this is weird because it should be a server problem, no?!

[2015-11-18 00:24] #780 closed

[2015-11-18 00:25] #781 closed

[2015-11-18 09:21] tampe125 commented on #836
Just for the records, I wasn't able to use the `wincred` helper, so I switched to the `cache` one.
After doing that, everything seems working fine.
I hope the fix will come shortly

[2015-11-18 14:43] gurugray commented on #616
:+1:

[2015-11-18 14:46] gurugray commented on #834
Oh, is any chance to high up priority for issue with smuge? :)

We are building a CI around this feature, with normal flow on developers workstations and it's quite awkward and unusable right now for our case :(

[2015-11-18 16:56] sepastian commented on #833
Sorry, still no luck, nothing changed.

[code]

[2015-11-18 16:57] sepastian commented on #833
Can I try something different? Such as creating a new repo from scratch? Could you tell me how to do this exactly? Then we know, whether I am doing something wrong or there is an issues somewhere else...

[2015-11-19 00:12] technoweenie opened #844 "Git LFS v1.2"
Here are the fixes slated for v1.2:

* [x] netrc support https://github.com/github/git-lfs/pull/715 (@rubyist)
* [x] `clone` command #988 (@sinbad)
* [x] support self-signed certs #1067 (@sinbad)
* [x] support sslverify option for specific hosts #1081 (@sinbad)
* [x] fix clean/smudge filter string for files starting with `-` #1083 (@epriestley)
* [x] fix silent failure to push LFS objects when ref

[2015-11-19 14:07] dluksza opened #845 "Add ref information to upload request"
Current upload request specification makes it hard to enforce branch based permissions in Gerrit. In order to enforce them Gerrit must first accept all incoming large files, then based on the pushed repository content either discard uploaded objects or keep them.

Such approach leads to waste of user's time, data transfer and server storage.

Adding destination ref information into upload request

[2015-11-19 14:21] ajohnson23 commented on #827
Merged a fix, closing this.

[2015-11-19 14:21] #827 closed

[2015-11-19 15:22] technoweenie commented on #845
:+1: Seems legit. This is something that existing implementations can ignore.

[2015-11-19 15:28] rubyist commented on #845
:+1: here too

[2015-11-19 15:31] brabil commented on #845
Would be interested in such feature.

[2015-11-19 16:33] #836 closed

[2015-11-19 16:56] technoweenie commented on #836
The `cache` helper only caches for 5 minutes. This [guide](https://help.github.com/articles/caching-your-github-password-in-git/#platform-linux) shows you how to increase the timeout from 5m.

I wasn't able to fix this issue in Windows for v1.1. However, Git LFS will halt if it asks for credentials but doesn't receive any. No more infinite auth loops.

[2015-11-19 23:03] technoweenie commented on #836
Just FYI: I just replicated this on my mac. I think the progress output is pushing the username/password prompts all the way to the right. That's sometimes you can't see it.

[code]

Now that I know what causes it, we should be able to get a fix out in 1.1.1 :)

[2015-11-19 23:38] Mailbot opened #846 "Unable to commit using LFS on a Mac"
Hello,
I've currently gotten Git LFS installed and working on 3 PC's, but I'm unable to get it working on the Mac.
Whenever I attempt to commit or push I get the error "git-lfs: command not found".
I'm using a System installed GIT and when I type: ""which git-lfs""
I get: "/usr/local/bin/git-lfs".
We're also using SourceTree on all the systems.

Thanks for all the help, I'm currently very stuck.
-

[2015-11-19 23:44] technoweenie commented on #846
@sinbad: can you help out here?  Here's the full output that @Mailbot gave me in an email:

Does SourceTree's Git need Git LFS in a special place?

[2015-11-19 23:46] technoweenie commented on #846
@Mailbot Since this is from a `clean` filter, can you manually run `git add` on a file that matches a pattern from `git lfs track`? Does it give you the same error?

[2015-11-20 01:52] technoweenie commented on #846
That sounds like that file doesn't exist at that path from where you're running 'git add'. Can see I see the output from these commands?

[code]

[2015-11-20 02:50] brbsix commented on #719
I just got the update to 1.1.0 on Jessie 64bit and noticed man pages are still empty gzip files.

[2015-11-20 03:34] technoweenie commented on #846
It's saying the file doesn't exist. Are you sure that's the right path? Are you in a subdirectory or something?

[2015-11-20 03:48] ssgelm commented on #719
Sorry I have not fixed it yet. I will try to do so asap!

[2015-11-20 13:40] technoweenie commented on #846
To be clear, the "pathspec ... did not match any files" error is coming from git, not git lfs. It comes from trying to add a file that does not exist.

[code]

I'm more interested in the "git-lfs: command not found" error, especially when git-lfs is in your PATH. Is that output from the command line or sourcetree?

[2015-11-20 13:47] technoweenie opened #847 "credential output hidden while transferring files"
When Git LFS is uploading or downloading a batch of files, it shows some progress output. It hides any other output from the command, like `git-credentials` asking for your username and password. Here's what I see (scroll to the right to see the username prompt).

[code]

If you can't see the prompt, then git lfs appears to hang for no apparent reason. The only fix is to setup a credential cacher

[2015-11-20 14:04] technoweenie opened #848 "better support for network issues"
- [ ] Support configurable http/tcp timeouts.

While the default timeouts are generous if you're on the same continent as the lfs servers, users should be able to customize their timeouts if they have frequent problems. Another thing to consider is whether the defaults should be increased too.
- [ ] Inspect the [`expires_at` field](https://github.com/github/git-lfs/blob/master/docs/api/http-v1-bat

[2015-11-20 14:08] technoweenie commented on #845
I just added this to my [Git LFS v1.2](https://github.com/github/git-lfs/issues/844) list. Now since it's a  simple addition that shouldn't affect things, it's likely it'll be in the next 1.1.x release. It really depends on how busy I am, and whether anyone else contributes the code instead :) Anyone that comments on this issue will get pinged on the pull request (unless you ask me not to).

[2015-11-20 15:03] edwinb24 opened #849 "Inconvenients uploading proyect"
I'm having difficulties syncing the files in my Flash-Portfolio-Project repository from my PC. I am currently troubleshooting the difficulty using a repository I created called Testing. Attach is some screenshots of everything I have attempt so far. First, I attempt to upload the documents like I always do with the graphic interface and receive the message in the image attach, I went ahead and att

[2015-11-20 15:34] technoweenie commented on #849
@edwinb24 In the first screenshot, you're not using Git LFS. GitHub rejects single files over 100MB on push. For GitHub to accept the file, you'll have to remove the big files first.

Git LFS is an alternative. However, simply installing it will not rewrite your repository for you. If you have an existing repository, [BFG Repo Cleaner](https://github.com/rtyley/bfg-repo-cleaner/releases) is a grea

[2015-11-20 21:20] edwinb24 commented on #849
Thanks a @technoweenie. I will give it a shot and let you know how it goes. Do you know what is the limit size for a file in GitHub before you need to use LFS?

[2015-11-20 21:22] technoweenie commented on #849
GitHub will warn you if you have single files over 50MB. It rejects pushes with files over 100MB. Git LFS supports files up to 2GB.

Thanks for checking Git LFS out!

[2015-11-20 21:22] #849 closed

[2015-11-21 14:47] edwinb24 opened #852 "Inconvenients uploading proyect"
I keep having difficulties with the upload. In the installation process, do I need to do a step in between installing the software (1) and and putting the command in Git Bash (2)?
![error 5](https://cloud.githubusercontent.com/assets/14187141/11318947/6b290298-902c-11e5-8a8a-7a3b5837973b.png)

[2015-11-21 18:39] pajapro opened #853 "'git-lfs' was not found on your path in SourceTree"
I downloaded [Github for MAC OS](https://desktop.github.com/) and setup git lfs for my repo. All works great when I am using my repo with Github MAC app. When I open the same repo with [SourceTree](https://www.sourcetreeapp.com) and push to remote, I get the following error:

`This repository is configured for Git LFS but 'git-lfs' was not found on your path. If you no longer wish to use Git LFS,

[2015-11-21 20:26] prudhomm opened #854 "git lfs not working with git subtree ?"
Hi

I am trying to use git lfs in a repository A which is then used as a subtree into several other repo B,C and D.
the lfs handled files are ok in A but in B C and D I get these messages:

[code]

basically I share some images using repo A between several other git repo.
am i missing something ?
is it supposed to work or not work ?

thanks in advance

[2015-11-23 17:10] technoweenie commented on #853
There's a similar bug filed in #846. I think you'll have to go to SourceTree support. I have no idea how it manages its git version and paths.

[2015-11-23 17:12] technoweenie commented on #846
Hey @mailbot: I think you'll have to go to SourceTree's support. I don't know how it manages git paths.

[2015-11-23 17:15] technoweenie commented on #852
It needs to be installed somewhere in your system path. It's designed to work after installing Git for Windows or GitHub Desktop without any custom paths. If you have custom paths for your git installation, you'll have to tell Git LFS during its installation.

[2015-11-23 17:20] technoweenie commented on #854
Git LFS works by storing files outside of the repository. So standard repository tools like subtree won't work out of the box, since it only references the Git data, and not the Git LFS data. I think it'll work if you do something like this:

[code]

This pushes all of the LFS objects in A to the LFS endpoints for B, C, and D. It's not the most efficient option though. There may be a better way to

[2015-11-23 17:23] #755 closed

[2015-11-23 17:26] technoweenie commented on #755
/cc @github/desktop: I purposely withheld the info that this was released last week because nothing in it was crucial for GitHub Desktop users. Looks like nothing critical was busted with it, so I think it's safe to add to GitHub Desktop at your earliest convenience. Though there may be a small 1.1.1 release next week.

[2015-11-23 18:02] edwinb24 commented on #852
When installing Git LFS the path I have by default is my desktop.  I have reinstall both GitHub Desktop and Git Bash with their default locations. Should I put Git LFS in my C:\Users\edwinb24\AppData\Local\Programs\Git folder where git-bash.exe is?

[2015-11-23 18:12] technoweenie commented on #852
GitHub Desktop already installed it for you. It should be available through the "GitHub Shell" icon that it installs.

You should put the path to "git.exe" in the installer. By default that should be: "C:\Program Files \Git\mingw64\bin", which is auto detected [here](https://github.com/github/git-lfs/blob/fbbfd7d9caa393edc99da6e5f5eb0626ecd7bd9a/script/nsis/installer.nsi#L21-L35).

[2015-11-23 18:50] edwinb24 commented on #852
I put the following path in the installer and now have git.exe and LFS in the same folder. Now, how do I use Git LFS through Git Shell? Thanks in advance for all the help, technoweenie. I really appreciate it!
![installating](https://cloud.githubusercontent.com/assets/14187141/11346138/caa82c84-91e0-11e5-818c-9ba29574916a.png)
![installating2](https://cloud.githubusercontent.com/assets/14187141/11

[2015-11-24 01:18] AndreTInfante opened #858 "Git LFS asks for authentication after every lfs-tracked file"
My team is working on a project using Github and LFS, and having a fairly serious problem. One of our team members is having an issue with LFS where, when he clones the repo, he gets asked to authenticate after every lfs-tracked file. As we have several hundred lfs-tracked files, this has rendered Git pretty much unuseable.

The issue seems to come up while using both https and ssh.

Any ideas wha

[2015-11-24 01:23] technoweenie commented on #858
Set up a credential cacher: https://help.github.com/articles/caching-your-github-password-in-git/.

Though, you shouldn't need it with SSH stuff, since that should be generating short-lived authentication tokens.

[2015-11-24 01:47] AndreTInfante commented on #858
"git config --global credential.helper wincred" exits silently, and doesn't seem to help. Is there something extra needed to make that work?

He's on windows 10, using the powershell git shell if that matters.

[2015-11-24 01:48] SindreOpsahl commented on #858
I'm the team member facing this problem.
I've already set up SSH following this: https://help.github.com/articles/generating-ssh-keys/
And I followed the instructions in the link you provided already.

What is happening is that whenever I do a clone or a pull is that it seems to succesfully clone the project, but when it ostensibly gets to the stage where it downloads the lfs assets it needs to au

[2015-11-24 02:01] technoweenie commented on #858
You can setup an ssh agent to temporarily cache the ssh passphrase prompts. I don't use SSH often other than for testing (and definitely not on Windows), so I won't be much help there unfortunately. Another option is to use an SSH key without a passphrase, at the expense of security.

As for SourceTree, check out ".git\lfs\objects\logs\20151123T184439.5305253.log" for the stacktrace that git lfs s

[2015-11-24 02:20] SindreOpsahl commented on #858
Hm ok, `$ echo "protocol=https\nhost=github.com" | git credential fill` does prompt for a username so i guess it didn't get cached.

[2015-11-24 02:25] SindreOpsahl commented on #858
Argh, clearing and trying to save using the commands you used don't seem to work. I'm at the head revision with missing files, so I'm using `checkout -f HEAD`, but like you said it only works with HTTPS so I suppose I will have to do a new clone.

[2015-11-24 02:26] technoweenie commented on #858
No need to re-clone it. Try:

[code]

[2015-11-24 02:32] SindreOpsahl commented on #858
Oh I already started the process. Luckily my internet is reasonably fast so it doesn't too long.

By the way, were the reject and approve commands above supposed to give any kind of feedback? I was prompted to give my username and password but other than that not much happened. I'm new to git and making sure I do things right.

[2015-11-24 02:34] technoweenie commented on #858
Nope, those are git "plumbing" commands, designed to be called by other git commands. You shouldn't have to approve or reject anything manually though. Git should be doing it for you automatically. In fact, if it's setup properly, Git LFS won't ever prompt you because Git should've already asked, and approved it when you typed `git clone/push/pull`.

[2015-11-24 02:39] SindreOpsahl commented on #858
Yeah that was my impression too, that lfs just silently runs in the background. Which is why these very aggressive errors are puzzling to me.

But on the bright side cloning from HTTPS seems to have been the key! The files are now downloading without interruption! Thanks a lot for your help.

Do you have any idea what could have caused this issue in the first place? So we (and anyone reading this)

[2015-11-24 08:48] shuhrat commented on #616
+1

[2015-11-24 09:30] pearswj opened #859 "global/local email config clash"
I'm getting the following warning after upgrading to v1.1.0.

[code]

Is there any reason why my personal/work/global/local email configuration wouldn't work with git-lfs?

`git-lfs/1.1.0 (GitHub; darwin amd64; go 1.5.1)`

\cc @technoweenie

[2015-11-24 13:53] technoweenie commented on #859
Nope, that warning isn't a very strong warning. I'm going to change that up so it only warns about config keys important to LFS. Sorry for the extra noise!

[2015-11-24 18:46] martingkelly commented on #672
The issue is still present in git-lfs version 1.1.0.

[2015-11-24 21:01] rseymour commented on #308
I want to fire up another issue w/r/t git-lfs not looking at windows' certificate store either, but it's windows and... I'm at my limit of caring.

[2015-11-25 03:45] technoweenie commented on #858
Great, glad to hear you got this working.

The core issues you experienced are core Git things, not necessarily related to LFS: SSH, HTTP credentials, native Git tools. I'm seeing a lot of progress for Git on Windows though, so hopefully the story is very different a year from now.

* LFS is a young project. Definitely needs real documentation outside of the command man pages.
* Atlassian contribu

[2015-11-25 03:48] technoweenie commented on #859
I hacked up a fix: #861. Should make it in the next release.

Also if I wasn't super clear, you can totally ignore that warning.

[2015-11-25 06:10] technoweenie commented on #308
Just added this to the v1.2 checklist in #844.

[2015-11-25 12:19] pearswj commented on #859
Just built #861 and the warnings have disappeared. Thanks for the quick turnaround!

[2015-11-25 13:34] jlehtniemi-broadsoft commented on #766
What i the shared object directory could be provided as an alternative? Similar to git clone reference repository. I.e. the objects would be searched from:
  1. local LFS storage directory
  2. alternative object storage directory if configured
  3. LFS server

It would be very flexible setup for object sharing yet it should not cause any problems with prune command.

[2015-11-25 14:03] sinbad commented on #846
@mailbot: sorry just spotted this - official support for LFS in SourceTree is coming but for now you can fix this issue like so:

* In Preferences > Git, click Use System Git if you're not using it already
* Symbolically link the `git-lfs` binary into the same directory as the `git` binary on your system. For example if you had built from source and have installed your system Git from homebrew, `l

[2015-11-25 16:57] dentuzhik opened #864 "Git LFS is unaware of url configurations"
So basically if you will do in your `.gitconfig`:
[code]

And then clone the repo, which uses git lfs, and then do `git lfs pull`, it wil fail with:
[code]

[2015-11-25 18:58] technoweenie commented on #864
Thanks for the report.

[2015-11-26 05:38] whitneyit opened #865 "Tracking with Cygwin"
I just tried setting up `git-lfs` in Cywin.

[code]

That seemed to work well. However, I ran into the following error.

[code]

And then when I tried to push, it errord and produced the following log

My machine

$  uname -a
CYGWIN_NT-6.1 whitneyit 2.3.1(0.291/5/3) 2015-11-14 12:44 x86_64 Cygwin

[2015-11-26 05:41] whitneyit commented on #865
I then tried the same in `CMD` and the install _worked_ but it produced the same error

[2015-11-26 05:51] whitneyit commented on #865
I just reset the commit and tried again and it worked \_(ツ)_/

[2015-11-26 12:26] dentuzhik opened #866 "Git LFS fails to checkout when Git repo is used via symlink"
I think this one is related to https://github.com/github/git-lfs/issues/591

The basic failure test-case is the following:
1. Clone fresh repo, with git-lfs configured
2. Create a symlink to this repo somewehere
3. `cd` into repo by symlink
4. `git lfs fetch; git lfs checkout` - fetch succedes, checkout fails with `error: git-lfs died of signal 13`

Doing absolutely the same thing without symlink

[2015-11-26 12:32] dentuzhik commented on #866
Probably related to
https://github.com/github/git-lfs/issues/811
https://github.com/github/git-lfs/pull/818

[2015-11-26 12:54] dentuzhik commented on #866
Tried with merged https://github.com/github/git-lfs/pull/816 patch. No luck.

[2015-11-26 13:53] strich opened #867 "Question: What happens if a contributor clones & pushes without Git-LFS?"
I'm just wondering whether it might be possible for a contributor to accidentally put the repository into an inconsistent state if they either:
1. Cloned and push/pulled work without ever installing Git-LFS.
2. Had Git-LFS installed at the time of cloning but for whatever reason no longer has it installed, and pushes content.

Is there any protection against accidentally pushing binary content int

[2015-11-26 15:24] strebl commented on #865
I have the same problem. What did you do exactly?

[2015-11-26 15:35] technoweenie commented on #867
Nope. A good spot to do this would be a pre-commit hook, installed locally. I think this could be a great addition. The thing about git hooks though, is that you can only have one setup for your repository at a time. So I think it'd have to go like this:

1. Add a command, like `git lfs pre-commit`.
2. Teach [`lfs.InstallHooks()`](https://github.com/github/git-lfs/blob/24166bd0068f96d0c109a77d176d

[2015-11-26 15:38] technoweenie commented on #866
Cool, thanks for the report. Can you try running `GIT_TRACE=1 git lfs checkout` instead? I wonder what it's doing before it dies of signal 13.

[2015-11-26 15:38] strebl commented on #865
If I run `git lfs env` I get following output:

[code]

I think the paths are the problem. `/` instead of `\` should work.

[2015-11-26 15:44] technoweenie commented on #865
@whitneyit: The "GH001" error comes from GitHub's pre-receive hook, which rejects Git blobs over 100MB. Git LFS doesn't automatically rewrite your entire history with "git lfs track", because that would rewrite history and change your commit SHAs. Resetting and re-committing is the answer :+1:

@strebl: It looks like your "LocalWorkingDir" value is weird. I'm not sure how cygwin works. Is that a s

[2015-11-26 15:53] strebl commented on #865
Yes, I'm seeing "* is outside repository".

Yeah I recently switched to Cygwin and don't fully understand at the moment.
But I can say that cd-ing into the LocalWorkingDir works if I replace `\`with `/`.

[code]

As far as I know Cygwin emulates a full unix environment. Therefore `\` won't work.

But it works if I'm using the normal command line.

Additionally, as far as I know, Windows itself doe

[2015-11-26 15:58] strich commented on #867
As in, the local Git server? What if the one is using a hosted solution ie GitHub? If you meant the local machine, then one might as well ensure LFS is installed in the first place.

[2015-11-26 16:05] technoweenie commented on #865
My only suggestion right now is to install Git For Windows, and use its provide Git Bash tool. If someone can submit patches for cygwin, I'll gladly accept them if they don't break support for other windows environments.

[2015-11-26 16:07] technoweenie commented on #867
No, your local repository, in `.git/hooks`. However, if the person never installed Git LFS, then of course they won't have the hook either. It may be up to the server to reject pushes with files added without LFS.

[2015-11-26 16:22] strebl commented on #865
Yeah that's what I'm doing right now.

Is it correct that u use `git rev-parse --show-toplevel` to get the current dir?
If yes. I get following output:
`/cygdrive/c/Users/strebel/Dropbox/gibb/viewclients`

So I think the real problem is `filepath.Abs(path)`.

https://github.com/github/git-lfs/blob/14aeecc034abc32f1d40106ff880e0d046571463/git/git.go#L461-L474

I have zero go experience, therefore I

[2015-11-26 17:37] strich commented on #867
Bummer. Will have to watch out for that. Could be painful for any of the more public LFS projects.

[2015-11-26 21:04] whitneyit commented on #865
@strebl your cygwin setup looks a little weird. I have a [guide](https://github.com/whitneyit/setup/blob/master/win/win.md#environment-setup) on how to set up cygwin to use your home directory. Open an issue there if you get stuck :smile:

@technoqeenie I'll have a look through the `go` code and see if I can submit a patch

[2015-11-26 21:07] strebl commented on #865
@whitneyit I'm using [Babun](http://babun.github.io/), not "my" setup^^ But very happy so far. What weird in your opinion?

[2015-11-26 21:13] whitneyit commented on #865
In the cygwin world, to emulate arch Linux, cygwin creates a single top
level directory `/`. Under there it puts the generic Linux folders as well
as a _unique_ directory named `cygdrive`. Underneath `/cygdrive` you will
see your listed hard drives, `C:\`, `D:\` be converted in *nix paths as
`/cygdrive/c` or `/cygdrive/d`.

The weird part is that it _appears_ that you manually created a folder
nam

[2015-11-26 21:14] whitneyit commented on #865
In the cygwin world, to emulate arch Linux, cygwin creates a single top
level directory `/`. Under there it puts the generic Linux folders as well
as a _unique_ directory named `cygdrive`. Underneath `/cygdrive` you will
see your listed hard drives, `C:\`, `D:\` be converted in *nix paths as
`/cygdrive/c` or `/cygdrive/d`.

The weird part is that it _appears_ that you manually created a folder
nam

[2015-11-26 21:20] technoweenie commented on #865
Go's Windows specific path behavior is here: https://golang.org/src/path/filepath/path_windows.go. Looks like `filepath.Abs()` calls some Windows system call. The filepath package's separators are [constants](https://golang.org/pkg/path/filepath/#pkg-constants), unfortunately, so it won't be easy to override that behavior.

[2015-11-26 23:06] strebl commented on #865
@whitneyit Ah now I know what you referring to. That's not true. That's part of the problem. `filepath.Abs()` resolves that. I don't see `C:\` in my Cygwin setup. I have exactly what you described.
Look above:
`git rev-parse --show-toplevel` returns `/cygdrive/c/Users/strebel/Dropbox/gibb/viewclients` which is the real path. But try it, it seems you can prefix the path with `C:/` and it still work

[2015-11-26 23:19] whitneyit commented on #865
Oh right. I guess the confusion was due to:

I'm guessing the issue is the `execCommand("git", "rev-parse", "--show-toplevel")` returning a POSIX style path vs `filepath.Abs(path)` returning a WIN path

[2015-11-27 10:55] larsxschneider opened #870 "git lfs track "/somedir/*" error"
I think a slash at the beginning of a pattern is valid and indicates the root of the repository. This is explicitly stated in [.gitignore](https://github.com/git/git/blob/f5b6079871904ba5b0a8548f91545f126caf898b/Documentation/gitignore.txt#L112-L114) but seems to work in the same way for .gitattributes.

git-lfs 1.1.0 returns " is outside repository" in that case.

[2015-11-27 13:21] technoweenie commented on #870
This was put in to prevent people from referencing absolute paths outside of the repository. You can update `.gitattributes` and add whatever you want though. Is there some reason you can't use just "somedir/*"?

[2015-11-27 13:28] ghost opened #871 "Package cloud - GPG signatures"
"Generating and verfying GPG signatures is critical to establishing the authenticity of package objects and the repositories storing those objects." in [package cloud](http://blog.packagecloud.io/eng/2014/11/24/howto-gpg-sign-verify-rpm-packages-yum-repositories/)

I was building an ansible role to download these package and noticed that in [package cloud centos6](https://packagecloud.io/install/r

[2015-11-27 14:32] larsxschneider commented on #870
Yes, I edited `.gitattributes` manually. I think the difference is:

"somedir/*" will match:
[code]

whereas "/somedir/*" will match only:
[code]

no?

[2015-11-27 14:34] technoweenie commented on #870
Ok, seems legit :+1:

[2015-11-27 14:36] larsxschneider commented on #870
thanks :-) ... I am a bit busy right now but maybe I can provide a patch next week or so...

[2015-11-27 14:41] technoweenie commented on #871
Both of those have `repo_gpgcheck=1`. So that should verify Package Cloud through a gpg signature that they manage. Package Cloud doesn't let me upload my own gpg keys AFAIK, otherwise I would.

/cc @andyneff

[2015-11-27 14:42] technoweenie commented on #870
Cool. I added it to the v1.2 checklist. Though being a bug, it could technically go towards v1.1.1 if we need it.

[2015-11-27 18:13] andre487 commented on #864
I have the same issue

[2015-11-27 18:14] andre487 commented on #859
+1

[2015-11-27 19:57] kalibyrn commented on #326
I hope I'm not beating a dead horse, but..

This little script is still probably slower than bfg, but I couldn't figure out how to get bfg to honor my lfs remote location.  So, I wanted to build on the work from @andyneff and @vmrob and make the filter-branch commands they provided faster.

[code]
By combining the "git lfs track" line into one and by using "xargs -n 50" I was able to cut down on i

[2015-11-27 20:06] bozaro commented on #326
@kalibyrn
I'm sure, that ```git-filter-branch``` is really bad idea. It's convert revision-by-revision with full checkout every revision.
Converting bare repo is much faster. I would recommend for you tool: https://github.com/bozaro/git-lfs-migrate

[2015-11-27 21:56] jleppert opened #872 "it doesn"
It d

[2015-11-27 21:57] jleppert opened #873 "it doesn't work"
I followed the example directions precisely and it's failed to track any files. Just plain doesn't work. No files are listed as tracked, although I have added the files to be tracked.

my attributes file:
[code]

what gives? it doesn't do anything..

[2015-11-28 01:20] #872 closed

[2015-11-28 01:24] technoweenie commented on #873
Git LFS only works on new things that you add or change. It can't go through existing repository history and update the repository. Check out the [BFG Repo Cleaner](https://github.com/rtyley/bfg-repo-cleaner/releases) for migrating repositories with existing data.

If this doesn't help, can you be more specific about what's wrong?

[2015-11-28 09:57] sepastian commented on #833
Hello again, appears to be working no - maybe it just took some time for the _reset_ to propagate through...

Thanks for your help!

[2015-11-28 09:57] #833 closed

[2015-11-28 15:26] technoweenie commented on #833
Blah, sorry I left this hanging. Glad you got it working though.

[2015-11-29 14:09] gouchangjiang commented on #455
Maybe you should delete the directory then clone it again. And then with the command "git lfs fetch", that works for me.

[2015-11-29 18:06] timini commented on #873
I think you could do with more in depth tutorial / documentation. It might help to explain a little how lfs works too. It is very confusing starting a repository using lfs.

[2015-11-29 18:09] jleppert commented on #873
I figured it out; but had to create a new repository. It might be worth noting that the github is advertising git-lfs as a potential solution when you try to push large files -- there's actually a URL in the banner that comes back from the server on the pre-commit hook with a link to the web site.

Upon further examination, it appears git-lfs is ill-suited for existing repos. It would be nice if t

[2015-11-29 18:21] technoweenie commented on #873
Check out the [BFG Repo Cleaner](https://github.com/rtyley/bfg-repo-cleaner/releases) for this.

[2015-11-29 18:21] #873 closed

[2015-11-30 09:03] joshterrill opened #874 "Git lfs with files in repo that are already committed"
I have a repo that has a folder of files that should be managed under git-lfs. I've done `git lfs track` for each of the files, it created the `.gitattributes` file. But when I did a `git status`, it only showed the attributes file as being added, nothing changed. I did a check in, and nothing seemed to change. Is there any way that I can manage already committed files using git lfs?

[2015-11-30 15:55] 525152625004 opened #876 "DOMONISE"
I am a spammer.

[2015-11-30 15:56] #876 closed

[2015-11-30 16:14] technoweenie commented on #874
While I'd like Git LFS to support existing data natively, it's not a trivial task. Check out [BFG Repo Cleaner](https://github.com/rtyley/bfg-repo-cleaner/releases).

[2015-11-30 16:14] #874 closed

[2015-12-01 19:20] scuffedshoe commented on #832
I'm seeing this same crash as well.

[2015-12-02 03:48] tpdownes opened #878 "if git-credential does not exist, git push fails to upload LFS files"
On a computing cluster running Debian 7, which has git 1.7 by default. It turns out that git 1.7 as packaged for Debian 7 does not include a git-credential binary.

Without realizing this, I setup a credential helper (globally) to help https operations. Normal git operations were not affected by this vestigial configuration. I didn't notice it wasn't working because my operations were less frequen

[2015-12-02 15:11] tpdownes commented on #878
This possibly impacts RHEL6-derived platforms without access to git 1.9.4 from the SCL 1.2 release. The included version of git on RHEL6 is 1.7.11.1 and it does not have a /usr/libexec/git-core/git-credential binary. Git 1.9.4 does have such a binary.

[2015-12-02 16:49] technoweenie commented on #878
Git LFS requires Git v1.8.2+. It's unlikely we'll support such old Git versions due to their lack of `git-credentials` and `pre-push` hook support.

[2015-12-02 17:00] tpdownes commented on #878
I believe you have just eliminated the version of git that comes with 3 of the 5 linux platforms for which you package git-lfs. Not that there aren't workarounds - but the pages aren't exactly screaming "you must find a backport"

[2015-12-02 17:16] tpdownes commented on #878
Recall my claim is that git LFS should fail more gracefully, not that you should necessarily support older versions. Possible solutions, not necessarily at odds:

* packages depend on installation of git >= 1.8.2, otherwise do not install.
 * On RedHat you would want to depend on EITHER git >= 1.8.2 OR the presence of the git19 package from SCL (major/minor version number in package name).
 * On d

[2015-12-02 17:27] technoweenie commented on #878
I think both of those are great ideas. :+1:

/cc @andyneff/@ssgelm Re: packages

Regarding error checks -- I could see adding a check in `git lfs install`, `git lfs env`, and any time the CLI tool blows up. Maybe `git lfs track` too.

[2015-12-02 17:31] ssgelm commented on #878
I thought the debian package _did_ have that dependency.  I must have done that when working on submitting to debian but forgotten to submit upstream.  I'll do that now.

[2015-12-02 17:34] ssgelm commented on #878
No, it is already there: https://github.com/github/git-lfs/blob/master/debian/control#L5.  I set it to 1.8.0 though so maybe worth changing.

[2015-12-02 17:53] andyneff commented on #878
@tpdownes The git-lfs rpm used to `Require: git>=1.8.2`, however it was removed because other wise the ONLY yum solution was installing a git rpm. Now I personally (and I'm sure MANY other people) just clone git, make install, can call it done. This gives me a FAAAR newer git than the packages allow. This is why it was discussed and finally removed as a dependency requirement for centos.

Centos 6

[2015-12-02 18:12] andyneff commented on #878
@ssgelm the https://github.com/github/git-lfs/blob/master/debian/control#L5 is the `Build-Depends` line

https://github.com/github/git-lfs/blob/master/debian/control#L10 actually just says git (I think? DH VOODOO!!!)

[2015-12-02 18:32] tpdownes commented on #878
@ssgelm @andyneff I don't know about master, but I can confirm that the version I downloaded from your release page only has:

[code]

[2015-12-02 18:41] tpdownes commented on #878
at all: wow quick response! Thanks.

@andyneff I undetstand your problem. I would enthusiastically make the opposite choice.

1. A major point of packaging systems is to enforce known dependencies. When I yum/apt-get install and get exit code 0 it is telling me that the code should work. Obviously I don't expect you to handle the unknown, but if you're making a package, you're telling me it should

[2015-12-02 18:47] ssgelm commented on #878
@andyneff @tpdownes My bad, I was looking at the build dependencies.  This is fixed in #879.

[2015-12-02 19:03] tpdownes commented on #878
An example in favor of your choice: the docker package reasonably enough chooses not to enforce the kernel >= 3.10 requirement in its packaging as many people probably choose to compile their own kernels. As the administrator of a computing cluster, I choose to rely on highly-visible-and-patched OS kernels rather than get into the kernel packaging business.

But...

* Docker's web pages are incred

[2015-12-02 19:15] andyneff commented on #878
Side note,`yum install good_pacakge_name bad_packagename` has an exit code of 0. :) And yes, that detail annoys me to no end. Lesson: YOU CAN'T USE YUM EXIT CODES!

- I agree with the documentation issue, it can always be better ;)
- Is https://www.softwarecollections.org/en/scls/rhscl/git19/ accurate? I have to install something first, install a repo for git19, install git19, then `enable` it in

[2015-12-02 19:19] tpdownes commented on #878
Yes, that is the rough picture of how to use SCL. The point is to allow a newer copy to live side-by-side with the original packages in a totally different path (under /opt I think). A user would call on it explicitly with scl enable. Point being: the system tools in an enterprise environment might have very strict version requirements on, say, Python, that would annoy an actual user.

It's closer

[2015-12-02 19:28] tpdownes commented on #878
PS. Not suggesting you document the beginning-to-end of SCL, but a 1 sentence-fragment version of how I should approach installation on each platform. "RHEL5: from source only". My default assumption when I see a package is "perfect: I don't have to think" whether or not that is ultimately true.

Again, thanks for your help. I'm sure you'll pick a solution that works for you. I'm pushing my team t

[2015-12-02 19:30] andyneff commented on #878
Ah modules... So you have to `scl enable` every bash session?

As it stands now, I have tested:

- CentOS 5 using epel git
- CentOS 6 using... ok, I was stupid enough to make my own git rpm https://packagecloud.io/github/git-lfs/packages/el/6/git-2.4.5-1.el6.x86_64.rpm. Yes, another one of those undocumented things, also a poor idea, I now admit
- CentOS 7 using official git

So as far as special

[2015-12-02 19:38] emschorsch commented on #826
Do you mind sharing your final script that works?

[2015-12-02 19:41] tpdownes commented on #878
I think the real world solution for a shared environment would be to add scl enable under /etc/profile.d. But, yes, you have to scl enable every bash session by hook or by crook.

Packages in [EPEL cannot overlap with packages in the RHEL they're tied to](https://fedoraproject.org/wiki/EPEL/FAQ#Does_EPEL_replace_packages_provided_within_Red_Hat_Enterprise_Linux_or_layered_products.3F) thus the biz

[2015-12-02 19:47] andyneff commented on #878
The situation is JUST RHEL6, RHEL5-base had no git package, which is why EPEL git is available and works.

[2015-12-02 19:51] tpdownes commented on #878
I got it (bizarro meaning a reversion in support from 5 to 6).

Check out the IUS option. Might be the easiest one to explain. Gives you git 2.6.2 in a package under /usr/bin according to the filelists.xml. I have not tested but am reconsidering SCL.

[2015-12-03 02:40] pokehanai opened #880 "go panic on committing"
Hi,

It was first time to use git-lfs and the very first experiment was not so good. :weary:
On the first commit I faced the following panic stacktrace.

[code]

Then I checked the code and the cause.
[code]

In my case, at the secondary last line `width-len(out)` was `-39`; enough to cause Go panic.
By tweaking like
[code]
then my first commit had been finished successfully.

I am not sure why `w

[2015-12-03 02:49] mnot opened #881 "README.md doesn't mention git lfs init"
README.md gives a short demo of lfs, but fails to mention that its necessary to `git lfs init` first.

This is confusing and leads to much brokenness.

[2015-12-03 02:56] technoweenie commented on #881
The command is called `git lfs install` as of Git LFS v1.1, and it's mentioned in the [Getting Started](https://github.com/github/git-lfs#getting-started) section.  I have a big revision of the readme coming up, so I'll pull it out into a separate code block to make it stand out more.

[2015-12-03 03:16] technoweenie commented on #881
How's [this](https://github.com/github/git-lfs/blob/readme-updates/README.md#getting-started) look? I went ahead and pushed up my changes: #882

[2015-12-03 03:35] technoweenie commented on #880
@pokehanai Thanks for the report. I'm guessing [the ts package](https://github.com/olekukonko/ts) is unable detect the terminal size from inside emacs.

I made a PR with your patch: #883. Is there a reason you didn't file it yourself as a pull request?

[2015-12-03 03:43] mnot commented on #881
Awesome.

[2015-12-03 06:18] pokehanai commented on #880
Ah, I have other tasks to do today; then I thought that I did not have enough time to *develop* test code against it.
And rather it would be worth to let the community know the issue and fixing code, so I just reported.

[2015-12-03 13:37] shuhrat opened #884 "Commited binary file, can not rebase, checkout or hard reset"
Hi all!
In our project there is a `git-lfs` tracked folder with binary files.
One of my colleague who has no git-lfs on his system commited actual binary file to the `dev`.

Here is the story:
- He commited binary file
- `pre-push` hook did not allow him to push
- He installed `git-lfs`, so hook showed green light and he pushed changes to the remote

Annoying thing is that, anyone who rebased from

[2015-12-03 14:11] technoweenie commented on #884
Hey @shuhrat, I was just troubleshooting a case just like this, and gave the same workaround. You say your colleague doesn't have LFS installed, but the `pre-push` prevented his push initially. Was this Git LFS's hook, or a custom one your project uses? There's been some discussion in #867 and the [git lfs chat](https://gitter.im/github/git-lfs) about this issue.

I think what's happening is that

[2015-12-03 14:30] shuhrat commented on #884
We use [git-hooks-js](https://github.com/tarmolov/git-hooks-js)
I just made `web4/.githooks/pre-push/git-lfs` file with some modifications
[code]

[2015-12-03 14:40] technoweenie commented on #884
That is a really cool hack. With that, I'd feel comfortable doing more with hooks.

[2015-12-03 15:40] msp-abc opened #885 "Integrating Git LFS with TeamCity issue (port 443: connectex: no connection could be made)"
I am having an issue trying to integrate Git LFS with TeamCity, using SSH key-based authentication.

Cloning and fetching works fine, but during checkout, it fails on the first LFS tracked file. I attached the LFS log here: [git-lfs.txt](https://github.com/github/git-lfs/files/50962/git-lfs.txt)

The point of interest: `Post https://<github-enterprise>/<organization>/<repo>.git/info/lfs/objects/ba

[2015-12-03 16:25] shuhrat commented on #885
in your VCS Root configuration use `ssh` protocol git `git@github-enterprise:owner/repo.git`

[2015-12-03 16:28] shuhrat commented on #885
one more hack: with turned `smudge` on checkout will be loooong)
so in your build agent configuration turn it off `smudge = git-lfs smudge --skip %f` and create
command line buildstep with commands `git lfs fetch && git lfs checkout`

[2015-12-03 16:38] technoweenie commented on #885
@msp-abc: It sounds like you're running github enterprise with SSH, but no SSL or HTTPS. That error message indicates it's trying to connect to an HTTPS port. Without HTTPS being enabled, that shouldn't work. So that indicates an issue with github enterprise. Can you send details to GitHub Enterprise support so I can see what version and config you're running so I can investigate? It doesn't sound

[2015-12-03 22:30] pedrocarmona commented on #716
Is it possible or not?

[2015-12-03 22:39] technoweenie commented on #716
Deploy keys aren't supported right now.

[2015-12-04 02:27] crydalch opened #886 "Question: How to configure the lfs storage location?"
I'm new to git lfs, and am wondering how to configure where the files are stored? When I run `git lfs env`, I see **LocalMediaDir** is setup; is there supposed to be a **RemoteMediaDir**, or something along those lines? So far, I haven't seen anything alluded to in any docs or man pages I've found so far...

It'd be great to be able to change the default location where git lfs is sending/retrievin

[2015-12-04 05:03] paulborza commented on #832
+1

[2015-12-04 10:27] msp-abc commented on #885
Thanks for the replies!

@shuhrat the VCS root configuration was set correctly. Why would `smudge` on checkout take longer than doing a `git pull` later? I will give it a try.

@technoweenie I have already sent a request to GitHub Enterprise support (request 26884). Does that suffice? Re: `git lfs install`, yes, it would make sense to be able to specify whether to install it for the current or sys

[2015-12-04 10:38] pditommaso opened #887 "Git LFS is not recognized"
I'm just trying out Git LFS extension but I'm unable to have it working. I've installed using Homebrew, then in a test repository I've entered the following commands:

    git lfs track "data/*.fastq"
    git add data/SRR49336{6,7}*
    git commit -m 'Adding data files'
    git push

However the push complained that files were too big and suggested to use `git lfs` instead (!)

    Writing objects

[2015-12-04 11:20] pditommaso opened #888 "The first command in the Git-LFS is wrong"
In the [Git-LFS](https://git-lfs.github.com/) page is written:

    1. Download and install the Git command line extension. You only have to set up Git LFS once.

        git lfs install

However install is not an available command:

    $ git lfs install
    Error: unknown command "install" for "git-lfs"
    Run 'git-lfs --help' for usage.

I guess you mean `git lfs init`

[2015-12-04 14:46] cipriantepes commented on #887
I'm having the same problem. It works for files placed in root but not for files placed in folders / directories. It's quite frustrating.

[2015-12-04 15:29] technoweenie commented on #885
Git calls smudge filters for each individual file in serial, which can be inefficient for repositories with lots of LFS objects. Going with @shuhrat's suggestion requires an extra `git lfs pull` command, but this command is able to fetch the objects in parallel much faster.

Yup. Curious why no one pinged me on it :) I'll look into it.

[2015-12-04 15:37] technoweenie commented on #887
@pditommaso You need to run `git lfs install` to set up the global git config. You can see this from the empty values at the bottom of the `git lfs env` output:

[code]

I don't know if you got it working later, but this file is successfully stored with Git LFS: https://github.com/pditommaso/test-lfs/blob/be3d682f37f516aee43c133092bd518fe55b12fd/data/SRR493366.fastq

@cipriantepes: Can you file a

[2015-12-04 15:38] technoweenie commented on #888
The command name changed in Git LFS v1.1.0 (though `git lfs init` will continue to work for awhile). You can substitute `git lfs init` for `git lfs install`, and `git lfs uninit` for `git lfs uninstall`.

[2015-12-04 15:38] #888 closed

[2015-12-04 15:47] cipriantepes commented on #887
@technoweenie I managed to make it work using github for windows and the Git Shell provided by that app. I wasn't able to install the standalone app from the site. The only file installed was git-lfs-uninstaller.exe - maybe because github for windows was already installed?

[2015-12-04 15:53] technoweenie commented on #887
The Git LFS installer looks for where you have Git For Windows installed. If you installed it to a custom directory, you'll have to tell that to the Git LFS installer too. Though if you use native tools like GitHub Desktop (and soon, SourceTree), you may be better off relying on them to install and update Git LFS.

[2015-12-04 16:34] cipriantepes commented on #887
@technoweenie It defaults to desktop, not sure why. However, as long as it works in Git Shell, I'm good until I find what the problem could be.

Thanks!

[2015-12-04 23:16] astewart-twist commented on #193
@jhoblitt Very cool.  I think a serverless version would be better though.  S3 has versioning built into it and is a widely used storage system.  It would be a highly ideal lfs destination.  Wonder how hard it'd be to cook up.

[2015-12-05 07:09] nicolehu15 opened #889 "Purchased 1 data pack but git push still doesn't work"
I purchased 1 data pack which should increase my available storage to 50GB. However git push states that my data limit has been exceeded

[2015-12-05 12:32] stemid opened #890 "v1.1.0 Does not support passwords with spaces"
I have not tried a later version but I can't see this being fixed in #844.

Steps to reproduce:
  1. Set a password with spaces on the server end, for example "horse battery staple"
  2. git push -u origin master

Expected results: Login to HTTP service

Actual results: git lfs will not accept the password and continues asking for it

Workaround: Changed password to have no spaces, for example "mi

[2015-12-05 16:01] andyneff commented on #871
Tricky....

Now, a little from packagecloudio

Looks like packagecloud is trying to walk a fine "techinical" line saying they support gpg signing... The rpms have no gpg signature, only md5/sha1

[code]

There is a (now old) piece of code to sign the our packages (https://github.com/github/git-lfs/tree/master/docker#gpg-signing). I'll look into it a little to see if it is still functional.

Howeve

[2015-12-05 16:33] AlicanC commented on #698
What happened to this? Still not fixed (or merged)?

[2015-12-05 17:16] technoweenie commented on #889
Hi @nicolehu15 this needs to be handled through GitHub Support. Can you send details to https://github.com/c ?

[2015-12-05 17:16] #889 closed

[2015-12-06 16:45] technoweenie commented on #698
It made it into [v1.0.1](https://github.com/github/git-lfs/releases/tag/v1.0.1).

[2015-12-06 16:45] #698 closed

[2015-12-06 16:46] AlicanC commented on #698
Great news.

[2015-12-07 02:35] jleppert opened #892 "smudge filter failed?"
[code]

and then I try to look at the logs:
[code]
(no logs listed)
[code]
Trying to figure out what  smudge filter lfs failed means, why there are no logs when it implied there would be logs to help figure out the issue, and why won't resetting to head work? It appears my repo is in a broken state and I'm not sure how to recover it (besides re-cloning)?

[code]

[2015-12-07 02:51] technoweenie commented on #892
"error: unable to write file dsm2.tif" is a strange error. You're not out of disk space or anything, are you?

Does `.git/lfs/objects/logs/20151207T022523.981710529.log` exist? If not, try running `GIT_TRACE=1 git pull`.

[2015-12-07 03:16] jleppert commented on #892
I deleted the checked out copy and retried and not having this issue. Maybe a problem writing the file system? Have plenty of free space.

[2015-12-07 03:22] jleppert commented on #892
Actually, looks like github just killed my repo. Maybe not let me push if I'm over their "quota". Sheesh. How nice of them. What a horrible thing to do to someone!! Requiring me to dig through log files to find their squelched error message and apparently breaking your stuff.

[code]

[2015-12-07 03:25] jleppert commented on #892
Can you help me out? There is nowhere to figure out how to purchase more data packs to get my repo back into a workable state.

[2015-12-07 03:27] technoweenie commented on #892
Ah, thanks for the feedback. That's definitely a message that the smudge command should be writing to stderr, instead of hiding away in a log file.

As for GitHub data packs:

* https://help.github.com/articles/purchasing-additional-storage-and-bandwidth-for-an-organization/
* https://help.github.com/articles/purchasing-additional-storage-and-bandwidth-for-a-personal-account/

If you have question

[2015-12-07 03:28] jleppert commented on #892
Thanks. It's really annoying to waste 2 hours of time to pay $5..

[2015-12-07 03:28] #892 closed

[2015-12-07 17:23] shuhrat commented on #884
@technoweenie is there any recommendations for `{pre-commit,push}` hook to prevent such annoying events?

[2015-12-07 17:31] technoweenie commented on #884
None that I've seen, but I'd love to see one for Git LFS.

[2015-12-07 20:21] JoostvDoorn commented on #832
+1, It crashes for me every time I try to open the app now.

[2015-12-07 20:53] dangold1138 commented on #832
I'm not sure if this is a bug related to the github app, or if it is a bug in git-lfs itself. I tried to file an issue on the github app tracker too, but couldn't find it.

[2015-12-07 21:00] JoostvDoorn commented on #832
I reported this issue to Github directly, with a link to the issue here. They asked me for a crash report. So I assume they will be looking into it.

[2015-12-08 15:13] rajrsingh commented on #791
+1

[2015-12-10 10:40] joethephish commented on #282
:+1: from me too.

Even outside of Unity, this would be useful for simple PNG image files, where some small ones can easily be stored using normal git, whereas some larger ones, especially cumulatively (multiple > 1MB), would be better placed in git lfs.

[2015-12-10 11:59] paulsputer commented on #282
At first I was thinking this would be a really useful addition and a very quick way to get started with LFS without worrying about configuring paths.  Considering longer term usage I'm a little concerned about the side effects, maybe it depends on exact use case.

Such a feature assumes a file only grows but with image compression especially, size can change significantly depending on the image co

[2015-12-10 15:36] brabil commented on #736
I was trying to build on windows and I was stuck at missing zip command on my windows running git bash using MINGW64. What type of zip you are using on your windows VM to build the windows installer ?

[2015-12-10 15:53] technoweenie commented on #736
@brabil Can you try unzipping it in Windows Explorer? It should have zip capabilities built-in. However, the installer is not in the zip, just the compiled binary. You can get the installer [here](https://github.com/github/git-lfs/releases/download/v1.1.0/git-lfs-windows-amd64-1.1.0.exe).

Also, I'd appreciate it if you start discussions in a new issue to reduce the chance of derailing the main is

[2015-12-10 16:05] brabil commented on #736
Thanks @technoweenie.

[2015-12-10 16:09] davidbernard04 commented on #643
@technoweenie, so what's the status of this issue? Because I'm trying to setup a Windows build agent with LFS support and I think having a `git lfs install` that use **--system** instead of **--global** would help a lot. Because the LFS hooks are installed from my account only, and does not affect all other accounts (like the one used by my build agent).

[2015-12-10 16:15] technoweenie commented on #643
@davidbernard04: Currently still an open issue without any PRs. However, it's just using `git config`. You can workaround it by using:

[code]

Also, I'd appreciate you starting new discussions in new issues, and not in an unrelated thread. Thanks!

[2015-12-10 16:23] davidbernard04 commented on #643
@technoweenie thanks a lot for the workaround! I thought this was related to the current thread, as "Install Git LFS for all users on Windows" applies for the "git lfs install" too no?

[2015-12-10 16:37] technoweenie commented on #643
It's more about the windows specific install process. This 3 month old thread was before there was any kind of git lfs installer gui for windows, and installation was a mess.

[2015-12-10 16:42] davidbernard04 commented on #643
@technoweenie, OK I see! Then I have a question about your current Windows installer, which installs git-lfs.exe under `C:\Program Files (x86)\Git\bin` alongside the other git binaries, but for some reason only `C:\Program Files (x86)\Git\cmd` is in the path "by default", which also contain a git.exe (don't know why).

In other words, even using your installer, I still have to manually update the

[2015-12-10 16:50] technoweenie commented on #643
The installer goes with the most common settings. If your isn't setup like that, you'll have to put it in the right place and change the system path yourself. There is a PR for a new windows installer: #875. I don't use Windows, so I'm relying on help from windows developers to get the installer in decent shape.

[2015-12-11 10:17] dseeker commented on #886
I've been looking for where the binaries are stored after a github push but can't find this info so far.

[2015-12-11 10:57] ARaqeeb opened #893 "Git lfs issues in MAC"
ARMac:AR$ git lfs install
Updated pre-push hook.
Git LFS initialized.

git lfs env
git-lfs/1.1.0 (GitHub; darwin amd64; go 1.5.1; git 258acf1)
git version 2.4.9 (Apple Git-60)

Endpoint=https://github.com/IntBitTech/NamewellWebServices.git/info/lfs (auth=none)
LocalWorkingDir=/Users/AR/Documents/Projects/Dot Net/Namewell/NamewellWebServices/NamewellWebServices
LocalGitDir=/Users/AR/Documents/Proje

[2015-12-11 12:56] larsxschneider commented on #829
I ran into the same issue on OSX. This happens if no credentials helper is installed and Git-LFS can't find credentials.
@technoweenie Do you see a way to throw a more obvious error message?

[2015-12-11 13:54] larsxschneider opened #894 "Clashing config values"
Hi,

git-lfs checks (rightly so!) for clashing config values:
https://github.com/github/git-lfs/blob/e467a119b8ca38bbcd1a9f5479e43bdb14d17f70/lfs/config.go#L407

However, in case the clashing configs have exactly the same values (e.g. defined in global git config and in system git config) then we don't have a problem. Should git-lfs still print a warning in that case?

Thanks,
Lars

[2015-12-12 01:07] flyingrobots commented on #616
+1 plz fix

[2015-12-12 01:10] my-digital-decay commented on #616
Does anyone have a working post-hook solution to this problem as a stop gap until a more robust solution is implemented?

[2015-12-12 02:03] lhuizhan commented on #893
+1 Same issues here with 3 Macs.

[2015-12-12 07:48] paulsputer commented on #893
Reading the logs it looks like it is simply a filesize limit you're hitting @ARAtIntBitTech @lhuizhan a few lines from the end of the log indicates what is happening:

[2015-12-12 08:12] ARAtIntBitTech commented on #893
Yeah..so what's the point you are trying to make? Git doesn't support
uploading larger files?

On Sat, Dec 12, 2015 at 1:18 PM, Paul Martin <notifications@github.com>
wrote:

--
[image: IntBit] <http://intbittech.com> *Abdul Raqeeb Abdul Azeez (AR)
<ar@intbittech.com>*, CTOIntbitTech.com <http://intbittech.com>, Idaho
<https://goo.gl/maps/gFJe9>412.908.9471 <+1-412-90-9471>
Disclaimer: This e-mail

[2015-12-12 08:33] paulsputer commented on #893
Git LFS is not limited, However GitHub will apply limits on your account, best check with GitHub support

[2015-12-12 15:12] technoweenie commented on #893
That error message is because "Something.Api/Something.Console/apc140405.xml" was not added with Git LFS. GitHub limits git objects to 100MB, and Git LFS objects to 2GB. To fix this, you'll have to redo your commits and add the file with Git LFS. Here's a guide on removing the file:

https://help.github.com/articles/removing-files-from-a-repository-s-history/

To remove and re-add the file, you sh

[2015-12-12 15:17] technoweenie commented on #894
Fixed in #861. Just didn't seem important enough for its own patch release.

[2015-12-13 11:29] larsxschneider commented on #894
Great! Thanks :+1:

[2015-12-13 11:29] #894 closed

[2015-12-14 11:49] josteinaj commented on #376
The `GIT_LFS_SKIP_SMUDGE`-workaround works great for my part since I'm using git from the command line on Linux, but for colleagues using GitHub Desktop on Windows I haven't found a solution. We have 16354 audio files in git lfs and each one of them takes two or three seconds to retrieve using GitHub Desktop, so it's going to take a whole day to make the initial clone of our repo.

[2015-12-14 15:15] sinbad commented on #616
@my-digital-decay Yes, you can define the env var `GIT_LFS_SKIP_SMUDGE=1` then just use `git lfs pull` (or use `fetch` and `checkout` separately if you'd prefer) instead to download. You can also make this setting permanent for this repo, run `git lfs install --skip-smudge`.

[2015-12-14 15:34] technoweenie commented on #376
@josteinaj You can work around it for now by cloning from GitHub Desktop's shell manually.

[2015-12-14 16:41] my-digital-decay commented on #616
Thanks! I'll give that a try.

[2015-12-14 21:36] jamesford42 opened #895 "How to configure large file storage location?"
I have git and git-lfs installed on my primary, solid-state drive, C:. But I keep my projects and data in general on D:. I would like to configure git-lfs to follow this convention.

[2015-12-15 00:43] technoweenie commented on #895
Git LFS stores data relative to the git repository. So if you clone to `d:\projects\my-repo`, the files would be in `d:\projects\my-repo\.git/lfs/objects`.

[2015-12-15 11:50] cpaulik opened #896 "Not working in directory that is a symbolic link to another directory"
I've setup my `~/workspace` to link to another folder for convenience.

However I get the following error when cloning and pulling a git lfs directory.

Switching to the actual folder and running `git lfs pull` works.

[code]

[2015-12-15 12:17] DarkShear opened #897 "LFS issue with S3"
My organisation has been using git lfs for several months by and large without too many problems. Our git lfs clients are all 0.5.x (pre-batch API) and we wrote our own git lfs server that provides the git lfs client with signed URLs to store and retrieve the binary files to/from S3.

I am now in the process of trying to upgrade us to the latest git lfs version, v 1.1.0 but am encountering some pr

[2015-12-15 13:14] krlmlr commented on #49
Has this already been discussed elsewhere by now? A reference would be great.

[2015-12-15 15:44] bozaro commented on #895
It's good idea to share lfs storage between working copies.
It's very usefull for:
 * builder farms with multiple working copies of same project;
 * moving local storage outside SSD to HDD.

[2015-12-15 15:46] arghdos commented on #672
Same issues on 14.04 with git-lfs version 1.1.0 installed via the bash script / package repo

[2015-12-15 16:40] wrossmck commented on #846
On El-Capitan, i wasn't able to `ln -s /usr/local/bin/git-lfs /usr/bin/git-lfs`, so instead I did linked the system git into local, `ln -s /usr/bin/git /usr/local/bin/git` and then changed sourcetree's system git location via preferences.

Not sure if this is El-Capitan specific, or if my env is non-standard

[2015-12-15 19:51] carsten-AEI commented on #719
When I tried to rebuild the 1.1.0 Debian packages from the release tarball I got stuck with
[code]
where `man` seems to be contained in the tarball.

Maybe this may be related to the man pages never showed up in the first place.

[2015-12-15 19:56] carsten-AEI opened #898 "Versioning of pre-built Debian packages (wishlist item)"
It may be advantageous to have the Debian release the downloadable packages are targeted for embedded in the version scheme, e.g. add a +deb07 for Wheezy and +deb08 for Jessie.

At least for me that would help tremendously as I would like to have those in a local repository which contains branches for multiple release targets within the same pool.

OTOH, in this case all there is in the package is

[2015-12-16 00:05] brynn-mahsman opened #899 "Git LFS doesn't work with npm install"
When I run `npm install --save git+ssh://git@github.com:bmahsman/bubblegum.git`, npm checks out the text files that git lfs puts in place of the actual assets. It appears npm isn't using my local user account's `~/.gitconfig`, i.e. the filters aren't being used and git-lfs is not being executed.

The issue could be with npm, but I wonder if `git lfs install` only sets up git lfs for the current us

[2015-12-16 16:40] cschroed-usgs commented on #880
I reproduced a very similar issue with git lfs 1.1.0 while running the `fetch` and `checkout` lfs commands in a Travis build environment (Ubuntu precise pangolin). The progress bar is unable to detect the width of Travis' terminal. You can work around the issue by piping the git lfs commands to /dev/null if you don't care about the output, or by piping to files and `cat`ing the files afterwards if

[2015-12-17 15:35] brabil opened #901 "Enhance Git LFS status to show if Git LFS is installed or not"
It would be more convenient for users to see if git lfs is installed or not in the "git lfs status" command output.

Right now the only way is to check manually the .git/hooks/pre-push hook and the smudge filter settings in the git configurations using the command: git config --global --list | grep lfs

[2015-12-17 18:03] bmahsman commented on #899
I made an issue on npm as well. https://github.com/npm/npm/issues/10857

[2015-12-17 22:55] RagtagShawn opened #902 "LFS modifies files then they will not discard"
The scenario is something like this:
- Repo is partially pulled due to some network error or timeout
- LFS auto-modifies the local files due to them being set at tracked by LFS, but these files are old versions before LFS existed and was being used in this repo
- User doesn't want those modifications and tries to discard them so they can pull again and get up to date, but LFS just keeps modifying

[2015-12-18 00:20] RagtagShawn commented on #884
Anybody know if this issue is going to actually get fixed or are workarounds the only solution?

This is basically a problem for any repo that has been around a while and started using LFS in the middle of the repos life time.  If any user goes back to an old revision they would get LFS trying to auto modify their files on the old revisions before they were being tracked by LFS.

Why does LFS modi

[2015-12-18 14:50] explodecomputer opened #903 ""Download zip" button doesn't get lfs files"
Sorry if this has been addressed already, I did a quick search but couldn't find anything. A repo with LFS data can be cloned with the LFS data being pulled down, but the the 'Download ZIP' button on github doesn't include the large files, only the pointers. e.g. [https://github.com/explodecomputer/Eur1000GenomesAut](https://github.com/explodecomputer/Eur1000GenomesAut).

The main reason I'm inter

[2015-12-18 14:51] freemancw commented on #880
Experiencing this as well on 1.1.0.

[2015-12-18 14:58] shuhrat commented on #884
We solved this issue with such pre-commit hook

[code]

[2015-12-18 17:26] lbergelson opened #904 "lfs files failing to download"
I'm having an issue where git-lfs pull is failing to download all of the files it should be:

It seems to output a `-` on files that fail.  I'm running this on travis-ci as part of our tests suit, so debugging is made more difficult.  The failures don't seem to happen locally.  The failures only seem to happen when we add new files to git-lfs.  We're using v1.1.0 built from source.

This is the ou

[2015-12-18 19:35] gregmacfarlane commented on #903
I have the same issue.

[2015-12-18 22:06] exalted opened #905 "Proposal to contribute to docs/training"
Following up https://github.com/github/training-kit/issues/339#issuecomment-164561047 I wanted to ask whatever I can help you with some docs/training material about `git-lfs`.

I would :heart: to see `git-lfs` being used in more and more places/contexts and I am ready to give my two cents as much as I can.

@technoweenie if could you please give me some initial directions I would like focus my ene

[2015-12-20 12:09] pascalberger opened #906 "Credentials not found using Username / Password in remote"
If I have a remote like https://user:pwd@foo.com `git lfs` still throws an error that credentials are not found. A normal `git fetch` works fine.

Trying to using this in a VSTS with the OAuth token passed from VSTS. See Microsoft/vso-agent-tasks/issues/962.

[2015-12-20 20:52] samv commented on #697
I experienced this and landed on this issue.  For me, I got it to work by changing my git remote URL from rsh-style host/path ``github:username/project`` to the more verbose ``ssh://git@github.com/username/project``:

[code]

[2015-12-20 22:06] technoweenie commented on #903
This is an issue with GitHub, and not the open source Git LFS client. You can hit up GitHub support to ask us directly about it: https://github.com/contact

Keep in mind that Git LFS is an extension on top of Git, so it's completely expected that git tools need to be updated to take advantage of it.

[2015-12-20 22:06] #903 closed

[2015-12-20 22:07] technoweenie commented on #906
Cool, thanks for the report. This is a pretty low priority bug though. Putting authentication info in your git config is a pretty terrible idea, security-wise.

[2015-12-20 22:17] technoweenie commented on #905
Hi @exalted: First, thanks for offering to help! Documentation is a big thing I want to focus on next year for Git LFS. I'm still not quite sure how I want documentation to work though. Should it be part of git-lfs.github.com? Just some markdown files in the git-lfs repo? I'd recommend hashing out some doc ideas in the [Git LFS wiki](https://github.com/github/git-lfs/wiki) first, while this is fig

[2015-12-20 22:18] technoweenie commented on #904
It's hard to say without any error output. Can you try adding `GIT_TRACE=1` to the front of the `git lfs pull` command?

[2015-12-20 22:22] technoweenie commented on #901
You can run `git lfs env` to see if the hooks are setup:

[code]

The "git config" lines at the bottom show that LFS is setup. Does that cover what you need?

[2015-12-20 22:23] technoweenie commented on #899
Git LFS doesn't understand the `git+ssh` protocol. You can use `git@github.com:bmahsman/bubblegum.git` instead.

[2015-12-20 22:24] technoweenie commented on #902
I've seen two cases where Git will show an LFS file as modified without deliberate user action (such as changing and running `git add` on a file):

1. The index was damaged. Common if there's a network issue while downloading.
2. A file is being converted from a regular Git blob to a Git LFS pointer.

In the first scenario, running `git add` on the file should clear it up.

In the second scenario,

[2015-12-20 22:25] technoweenie commented on #898
/cc @ssgelm @andyneff

[2015-12-20 22:26] ssgelm commented on #898
My personal vote is that it doesn't matter since the binary should be portable between releases.  I could definitely be convinced otherwise though.

[2015-12-20 22:29] technoweenie commented on #880
Should be fixed in #883. Thanks for the workaround, @cschroed-usgs:

[2015-12-21 00:49] #880 closed

[2015-12-21 03:50] hujunfeng commented on #893
@technoweenie Thanks for the tip. I've rebased commits many times without any luck. Finally saw your instructions and it worked now. The key step is `git rm --cached`.

[2015-12-21 07:09] carsten-AEI commented on #898
As a conclusion what about: As long as the package contains only static items which are release target agnostic, keep it this way. If in the future something required special attention for a specific target (compiler/linker/whatever), you may look into versioning the binary packages.

Does that sound like a good resolution (for next year ;))

[2015-12-21 07:12] ssgelm commented on #898
Seems like a good plan to me.  @technoweenie @andyneff do you agree?

[2015-12-21 07:36] pascalberger commented on #906
@technoweenie I'm with you regarding using auth in the config and security. But my use case is that I need to fetch lfs objects on a build server (VSTS). I only have the OAuth token available and therefore temporarily change the remote url to contain the OAuth token to access the repo on the server.

The other option would be to use a dedicated service account only for this and have its credential

[2015-12-21 16:03] cschroed-usgs commented on #880
:+1: de nada

[2015-12-21 17:48] andyneff commented on #898
Sounds good.

[2015-12-21 20:35] KingScooty opened #908 "Weird config clash warning after intialising LFS"
I've just initialised LFS to track *.png and *.jpg images for the project i'm working on. The first error i got was this:

[code]

The `.gitattributes` file is created, but empty.
I do have 2 symlinks in my project, but to folders unrelated to where the images are stored.

When i tried to commit and push to github after doing this, i got the following error that wouldn't go away until i deleted my

[2015-12-22 10:40] hh123okbb opened #910 "How to remove LFS completely in my repository?"
Download LFS tracked files always fail. The log shows "dial tcp: i/o timeout". Maybe the cloud service used by LFS is unsuitable for me (A Chinese guy).

I guess I wouldn't use LFS anymore. How could I remove LFS in my repository?

[2015-12-22 11:09] Aorjoa commented on #910
Cloud you try `git lfs uninit`?

[2015-12-22 12:25] jplu opened #911 "Smudge filter failed with a fresh new clone"
Hi,

My colleagues have added `git lfs` to manage big files in our repository, so I have installed this git extension. After this installation I run a `git clone` on my repo, and I get this error at the end:

[code]

The lfs log says:

[code]

Someone can tell me if I did something wrong, and give me some hints to solve my mistake? or it is a bug?

Thanks in advance.

[2015-12-22 15:30] exalted commented on #905
@technoweenie thanks. If that’s all right I will draft bunch of text in wiki and we will see where to go from there?

[2015-12-22 16:35] lbergelson commented on #904
Here's the output with `GIT_TRACE=1

[code]

I see an error here, but I don't know how to interpret it:
[code]

[2015-12-23 11:03] AndrewJDR opened #912 "fetchinclude"
Should the following:

[code]

Pull down all .a files, even if they're in deeply nested directories? It doesn't seem to actually do that in my project, even though git lfs pull --help says fetchinclude supports "wildcard matching as per gitignore".

Thanks.

[2015-12-23 21:06] ajohnson23 commented on #912
After further investigation, it's clear that fetchinclude uses Go's filepath.Match, which does not support the double asterisk notation that gitinclude supports. While I didn't look thoroughly, there's a good chance there are other differences between filepath.Match semantics and gitignore semantics, as well.

At minimum, I think the documentation for fetchinclude should be changed not to say "wil

[2015-12-23 21:09] ajohnson23 commented on #912
This may be of interest (MIT license):
https://github.com/bmatcuk/doublestar

Perhaps this could be used to implement double star matching for fetchinclude/fetchexclude in git-lfs.

[2015-12-24 02:42] yhl3692319 commented on #911
the same to me

[2015-12-24 14:59] gurugray commented on #896
#866

[2015-12-24 17:39] blazespinnaker commented on #906
This breaks for me as well.   I'm just entering my credentials at the command line.

[2015-12-24 22:55] technoweenie commented on #912
I'd be interested in a patch using `doublestar` or something like it :+1:

[2015-12-24 22:56] technoweenie commented on #911
This is in REST terms, meaning there's no "download" hyperlink relation. That sounds like the object doesn't exist on the server.

[2015-12-24 23:00] technoweenie commented on #908
Fixed via #861, but wasn't deemed important enough for its own patch release right before the holidays.

[2015-12-25 05:25] InDieTasten commented on #282
I think LFS is not meant to fix your performance issues with larger files, but to allow non-text files to be handled in the same flow for the first time. If you want to store big images in lfs, and small images in git, you are selecting by a property not related to the content itself, but by the amount of content.
Transitioning will also be a problem. Everytime you transfer storage method, you can

[2015-12-25 05:31] whoisj commented on #906
Is there a recommended solution to the problem presented?

Is there something the GCM could be providing here?

[2015-12-25 18:21] asottile opened #913 "git lfs status fails on empty repository"
### Test script

[code]
### Output

[code]

[2015-12-25 18:24] asottile opened #914 "git lfs status: strange output with two identical files"
### Test Script

[code]
### Output

[code]
### Expected Output

I expect `git lfs status --porcelain` to give me the following (that way I can use it for scripting!)

[code]

[2015-12-25 18:34] asottile opened #915 "git lfs status --porcelain: potential improvement with filenames requiring quoting"
git lfs status doesn't quote filenames, making it slightly different to parse than `git status --porcelain`

[code]

[2015-12-25 18:36] asottile commented on #915
Supporting the `-z` option would also satisfy my scripting requirements:

(from `man git status`)

[code]

[2015-12-26 20:16] technoweenie commented on #913
Thanks for the report!

[2015-12-26 20:16] technoweenie commented on #914
Thanks :)

[2015-12-26 20:16] technoweenie commented on #915
Seems legit :)

[2015-12-28 00:09] bitcruncher commented on #601
yes it is a very big problem, because I cannot use git LFS period. 5mb or 5gb it continuously fails.

[2015-12-28 04:38] ADormant opened #916 "Integration with Github Integrations?"
Hello I think it's a good idea to put a link to github-lfs here  https://github.com/integrations

[2015-12-29 12:14] msc- opened #917 "Operations fail if git command not run in repo root"
git commands, e.g `git pull`, will fail if they are executed when the current directory is not the repository root, i.e the directory containing `.git`, and the command requires a git lfs operation.

Here is the LFS log from one such failed `git pull` issued when the current directory was `other_lib/linux` relative to the repo root.

[code]

[2016-01-04 08:11] SlowhandFastfeet opened #919 "Git LFS extension command "git lfs install" does not work."
After installing the software, the git extension command is not recognized.

Here is a picture with the error:

http://imgur.com/SjfCDXk

What to do?

Note: My operation system is Windows 7.

[2016-01-04 15:54] technoweenie commented on #919
You can do this one of two ways:

1. You need that `C:\Program Files\Git\bin` folder to be in the system path.
2. You need to install `git-lfs.exe` in the directory that `git.exe` is in. Run `which git` to see where it's at.

[2016-01-04 16:49] technoweenie commented on #916
Thanks for the feedback! However, this is for the open source git lfs client. I'll pass this on to the correct team. Though in general, you should use https://github.com/contact for any feedback on GitHub itself.

[2016-01-04 16:49] #916 closed

[2016-01-04 17:23] technoweenie commented on #905
@exalted Sounds good :+1:

[2016-01-04 18:10] SlowhandFastfeet commented on #919
Did step 1.
Did step 2:
$ which git
/mingw32/bin/git
I removed from a different install location and installed it here. However, the git-lfs.exe did not ended here, but in \Git\cmd folder and in the \Git\bin folder as well.

$ git lfs install
fatal: 'lfs' appears to be a git command, but we were not
able to execute it. Maybe git-lfs is broken?

To try out to fix it manually, I copied the git-lfs.e

[2016-01-04 18:16] technoweenie commented on #919
What's your system path look like? I think you can check this with `echo %PATH%`.

Unfortunately, this is more of an issue with your windows install, and not Git LFS specifically. Hopefully someone with Windows experience can give you some better help, and help us with the installer.

[2016-01-04 18:18] SlowhandFastfeet commented on #919
I think I found the problem, it's that I installed the 64 bit package, and my OS is 32 bits. But that was only for the second problem, the first was solved with your help, ty.

$ git lfs install
Git LFS initialized.

Now it works.

[2016-01-04 18:18] #919 closed

[2016-01-04 18:19] technoweenie commented on #919
@SlowhandFastfeet what fixed it, specifically?

[2016-01-04 19:37] SlowhandFastfeet commented on #919
Well, there were 2 things:

First, the path needed to be added as you suggested, because after I added the error message changed, see above. (git did not recognize the command)

Second, the error was, that it could not run the command, but now it already recognized it. Once I downloaded the 32 bit version, and I unzipped into the folder, you pointed out using the "$ which git" command, it could ex

[2016-01-04 19:44] xkentr opened #920 "git lfs push crash when progress meter width greater than terminal"
I am working with a very large repo with 9000+ files of 3MB each.

When pushing the repo, I get a panic from some go code. This happens exactly when the progress meter width meets the terminal width.

Eg: Git LFS: (112 of 9378 files, 6228 skipped) 302.42 MB / 24.15 GB, 16.04 GB skipped

$ git lfs version
git-lfs/1.1.0 (GitHub; linux amd64; go 1.5.1; git 258acf1)

Stack trace (panicing goroutine):

[2016-01-04 19:48] technoweenie commented on #920
Should be fixed in https://github.com/github/git-lfs/pull/883 for the next release. Could you try that out? If you have no way of building a new binary, let me know what platform you use so I can give you a build to try.

[2016-01-04 19:56] xkentr commented on #920
I'll take your build. linux-amd64, please. I interrupted my giant push so I can give it a try, standing by.

I should also note that just stretching out the terminal window is a workaround ;-)

[2016-01-04 20:40] exalted commented on #905
Great. Just got back from holidays. Will 👊 on it soon...
--
Ali

On Mon, Jan 4, 2016 at 9:23 AM -0800, "risk danger olson" <notifications@github.com> wrote:

@exalted Sounds good

—
Reply to this email directly or view it on GitHub.

[2016-01-05 14:10] larsxschneider commented on #904
I (probably) ran into the same error and here is how you can reproduce it:

1.) Clone my public test repo without fetching LFS files:
```GIT_LFS_SKIP_SMUDGE=1 git clone https://github.com/larsxschneider/lfstest.git```

2.) Pull LFS files:
```cd lfstest; git lfs pull```

3.) List files that were not downloaded:
```git lfs ls-files | grep -v "*"```

This is my local setup:
[code]

[code]

[code]

[2016-01-05 16:25] lbergelson commented on #904
@larsxschneider Thanks for putting together a clean way to reproduce this.  It looks like the same behavior to me.   I don't see the same ssh error when I run your test case with GIT_TRACE=1, so it's likely that that's not the cause.

[2016-01-05 17:07] technoweenie commented on #904
That's an intermittent error talking to our SSH server. Apparently it still worked though, as it downloaded a bunch of stuff successfully.

Have you tried tracking files by extension, and not filename? That seems more foolproof. Sometimes the patterns don't match, and you're not tracking what you think you're tracking with LFS sometimes.

[2016-01-05 18:38] lbergelson commented on #904
Hmn.  I haven't tried switching to tracking by extension, but @larsxschneider's example does track by extension and exhibits the same problem.  It also only occurs when you do the first clone of the repo with git lfs disabled.  So I'm pretty sure I'm tracking the files I expect to be, since it works when I clone with git lfs enabled.

I've found that if I run `git lfs pull` a second time it seems

[2016-01-06 18:37] lizaclark commented on #905
@exalted and @technoweenie, as a new git-lfs user, I find that there are a lot of great resources (like the youtube video and the "getting started" section of https://git-lfs.github.com) that describe how to add lfs files to a repo, but there's a big gap in terms of simple workflow level command documentation for how to clone a repo with lfs files to another machine/location and to retrieve those

[2016-01-06 19:46] exalted commented on #905
@lizaclark thanks for the :sparkles: feedback! Will certainly keep your input in mind.

[2016-01-07 15:47] jpicau opened #921 "SUSE Linux Enterprise Server 11 (x86_64) binary"
I'm using a SGI NUMA hardware. The binary packages are maintained by SGI.
There is no go 1.5+ compiler available and gcc is only available with
version 'gcc (SUSE Linux) 4.3.4 [gcc-4_3-branch revision 152973]'.

I downloaded the
https://github.com/github/git-lfs/releases/download/v1.1.0/git-lfs-linux-amd64-1.1.0.tar.gz
file. But I get a fatal error, a panic from (I suppose) the go 1.5 runtime.

jp

[2016-01-07 16:46] technoweenie commented on #921
I'm afraid without go compilation support, this will be difficult. Does Go even run in this environment?

[2016-01-07 17:33] panjandrum opened #922 "LFS in GIT submodule is skipping .gitconfig"
Hi guys!
I'm whole day struggle with one big problem. Maybe you will be able to help me?

Lets me explain my situation.
First of all I'm using *lfs-test-server* on localhost with basic authentication.
I have 2 repositories, where second one is used as a GIT submodule in first. In both I'm using the same LFS server.

For simplicity lets assume that it looks like that:
[code]

Both `.gitconfig` file

[2016-01-07 17:38] technoweenie commented on #922
Seems like lfs should detect that it's in a submodule and pick the right file. Thanks for the report.

[2016-01-07 20:02] Gfurst opened #923 "How to determine the default lfs repo?"
Hey folks, got a working setup with git-lfs and a private lfs-test-server.
It seems that lfs will default to github's hosting for the storage by default.
My question is, is this a hardcoded behavior or does it somehow figure out if the lfs host and git repo is in the same http server?

[2016-01-07 20:04] technoweenie commented on #923
It's based on the git remote, but can be customized with `git config`:

https://github.com/github/git-lfs/blob/master/docs/spec.md#the-server

[2016-01-07 22:16] Gfurst commented on #923
Ah ok, thanks @technoweenie
First I learned that .gitconfig is not going to be use anymore. I got confused with meaning of .gitconfig, it didn't really get included as configuration for the repo, right?

Still a bit confused as to how the client automates the server. In the example, the same https server serves both the git repo and the lfs host (and the website in this github case), authenticatio

[2016-01-07 22:22] technoweenie commented on #923
It's deprecated in favor of `.lfsconfig`, but `.gitconfig` will be supported for the forseeable future (until Git LFS v2.0).

Yup, inspired by similar `../info/*` urls that the git client uses.

Here are some resources to help you:

* [api spec](https://github.com/github/git-lfs/tree/master/docs/api)
* [test server](https://github.com/github/lfs-test-server)

And some implementations: https://gith

[2016-01-07 22:22] #923 closed

[2016-01-08 08:18] jpicau commented on #921
Yeah, I was afraid you'd say that. I can't tell you if there is any golang support for this distribution.
I will have a look into that, but it will take some time ...

PS: Git LFS is a great concept and otherwise it works fine. You all are doing a good job. Thanks!

[2016-01-08 13:14] strich commented on #911
I've had similar issues in the past and I think there may be a potential bug in cloning with git lfs (Still to be determined). You can try this method of fetching the repo, which is in fact faster too:

[code]

This only needs to be done once to initialize the clone for the first time.

Please do test it and let me know if it fixes it.

[2016-01-08 13:59] larsxschneider commented on #725
I ran into a similar error where "git update index" exits with 128:

[code]
(as you can see I experimented with crazy high concurrent transfers... but that shouldn't cause this problem, right?)

[2016-01-08 17:43] vielmetti opened #924 "Troubleshooting: git-lfs seems to not find files that it knows about."
I've installed `git-lfs` and am tracking a file:

[code]

However, when I try to do `git push origin master` I get this error message

[code]

What do I need to do to troubleshoot this? (I'm happy to update the "Troubleshooting" section of the wiki to match suggestions.)

[2016-01-08 17:49] technoweenie commented on #924
The `.gitattributes` file that `git lfs track` updates only activates on `git add` or `git checkout`. Did you `git add` those files after running `git lfs track`?  If you did, it's possible that the pattern isn't working like you think it should. This is why the docs suggest using file extensions. Unfortunately, the git docs aren't super clear on here, so we may need to show examples for common us

[2016-01-08 18:06] vielmetti commented on #924
Thanks @technoweenie - this helped me make progress.

I downloaded the `bfg` tool based on instructions here https://rtyley.github.io/bfg-repo-cleaner/ and was able to clobber the biggest of the big files that had prevented `git push` from working at all (after saving a copy elsewhere). So I'm back to "working".

So `git lfs track` kicks in only when the file is added?

[2016-01-08 18:12] technoweenie commented on #924
Yes, `git lfs track` only updates `.gitattributes` for you. We're piggy backing on the extension points that Git gives us. There's no way to replace an existing file without rewriting the repository history. But, changes to existing files will be stored in LFS, even if a previous version added before LFS exists.

[2016-01-08 23:42] exalted commented on #905
@technoweenie any suggestions where should I put any image assets (what an irony :four_leaf_clover: ) that I might want to use in wiki pages?

[Last time I checked](https://github.com/github/git-lfs/issues/791#issuecomment-151318020) GitHub Pages did not support Git LFS, nor do wikis at this point I guess.

[2016-01-08 23:46] technoweenie commented on #905
Just drop them in an issue and copy the url to the wiki page.

[2016-01-08 23:47] exalted commented on #905
:clap:

[2016-01-09 17:25] burlen opened #925 "install fails on fedora 23"
the package cloud install is not working. I run the command as described but then git reports an error. My os is fedora 23. See below. I am doing this wrong?

[code]

[2016-01-10 16:57] antero10 opened #926 "Cloning a new repo from 0, error "smudge filter lfs failed""
I was cloning a repo from 0, and then i get this error

 smudge filter lfs failed
warning: Clone succeeded, but checkout failed.
You can inspect what was checked out with 'git status'
and retry the checkout with 'git checkout -f HEAD'

i have this on the log

[code]

i don't know what happen or how i can  resolve this error.

[2016-01-11 17:01] technoweenie commented on #926
That looks like the object `3aa57f2061290d60381a063b5d9edaca8269984b592a2b2fec9c20e925cae6fe` is not on your LFS server. If you're using GitHub, send me more details at https://github.com/contact, and I can help you out.

[2016-01-11 17:02] technoweenie commented on #925
Hey @andyneff, does anything stand out in here to you?

[2016-01-11 17:15] technoweenie commented on #925
@burlen Can you try downloading the RPM manually and installing it? I think the issue is that we're not uploading them to packagecloud as fedora packages, just enterprise linux. You should be able to download it from [here](https://packagecloud.io/github/git-lfs/packages/el/7/git-lfs-1.1.0-1.el7.x86_64.rpm).

[2016-01-11 17:29] technoweenie opened #928 "upload fedora packages"
We should upload the rpms to the packagecloud fedora repos. Fedora 22+, according to its [EOL schedule](https://fedoraproject.org/wiki/End_of_life).

https://packagecloud.io/docs#how_to_create_packages

[2016-01-11 17:47] burlen commented on #925
Hey, thanks for replying. I installed form source. and it's working.

btw, not shown in the output above,  "dnf-search git-lfs" doesn't turn up any packages. I tried a few variants on the search string. something must be going sideways with the repo install. You guys seem to be using yum, and that mayt have something to do with it?

Burlen

[2016-01-12 06:04] FooSoft commented on #911
I have the exact same problem (running on Linux Mint).

I am not able to successfully clone my repository (https://github.com/foosoft/website) because git lfs encounters the errors shown in the first post. The file that causes the error appears to be different with each clone operation, but it gets a little bit further before failing each time. Maybe there is some sort of cache problem on GitHub?

[2016-01-12 10:30] cmaumet opened #930 "Error accessing media: unsupported protocol scheme """
When trying to pull from https://github.com/incf-nidash/nidmresults-examples, we get the following error:
[code]

Full log:
[code]

Cloning the repository from scratch does work but the same issue re-appear when we try to pull again (the error is raised when the first file stored with git-lfs is pulled). Could you help us tracking this down? Thank you!

The repository contains a lot of files track

[2016-01-12 10:31] cmaumet commented on #930
You will find below the output of git lfs env:
[code]

[2016-01-12 16:14] technoweenie commented on #930
Ah, I think it's because your ref is called "upstream", and not "origin". Easiest thing right now is to change it, but there's probably something better that Git LFS can do to support uncommon remote names. You may also have better luck specifying `git pull upstream master`.

[2016-01-12 16:20] cmaumet commented on #930
Thank you for this quick feedback!

`git pull upstream master` raises the same error:
[code]

But renaming `upstream` into `origin` seems to solve the issue:
[code]

[2016-01-12 16:26] technoweenie commented on #930
Cool, thanks for the confirmation. Does your git config have any relevant settings? Anything that sets `upstream` as your preferred default remote?

[2016-01-12 23:28] timon-schroeter commented on #623
I think you have a good chance to get it to work:

git lfs runs perfectly on my Olinuxino micro board with A20 ARM CPU and Ubunty Trusty (Armbian variant) as OS.

This is how I installed it:

1. I looked for a Go 1.5 backport for Ubunty Trusty (ARM) and found a suitable one in ppa:ubuntu-lxc/lxd-stable
2. I compiled form source as descried in https://github.com/github/git-lfs/blob/master/CONTRIBUT

[2016-01-12 23:47] adityayuwono commented on #885
@shuhrat i have tried implementing your workaround, but still find this error
`Failed to perform checkout on agent: '"c:\program files\git\bin\git.exe" checkout -q -f master' command failed.
stderr: Downloading Assets/CustomAsset/Scripts/Editor/LabsterEditorTools/Resources/Gizmos/Green.png (4.73 KB)
Error accessing media: Assets/CustomAsset/Scripts/Editor/LabsterEditorTools/Resources/Gizmos/Green.

[2016-01-13 10:07] shuhrat commented on #885
@adityayuwono in order to help you I should know what is in your configuration
1. what is in `.gitconfig` file on your agent?
2. run `git lfs env`, add one command line step in *Build Steps* of your build configuration
just add command
3. is your git-lfs client on agent is latest?
4. in your repos url are you using `ssh` protocol? notice that `ssh+git` won't work

[2016-01-13 10:23] cmaumet commented on #930
No... I have just changed the remote name manually using `git remote rename`.

[2016-01-13 16:07] technoweenie commented on #911
I was able to clone your website just fine. There aren't really any CDNs or caches involved in the LFS API through GitHub. I'll look into better logging when this "relation not found" error comes up (and also a better error message). While it usually means the object isn't on the server, it could mean the server returned a really strange response that it isn't parsing correctly.

[2016-01-13 16:27] chrisfree commented on #888
I just ran into this same issue. Running `git lfs init` fixed it.

[2016-01-13 16:55] larsxschneider opened #931 "Git checkout slow with many LFS files"
Hi,

we are using Git-LFS at my company and in general we are really happy as it nicely solves the binary files problem in Git. We started using Git-LFS for all binary files and experienced _very_ slow checkouts for a repository with +10k binaries.

E.g. consider this repo with 15k LFS files:
https://github.com/larsxschneider/lfstest-manyfiles

Checkout time on my Mac with SSD is around 10min (whi

[2016-01-13 17:09] peff commented on #931
Where does the time go on Windows? Is the CPU pegged? Or are we getting killed by the latency of starting many processes serially?

[2016-01-14 02:39] bala-cit commented on #347
Got similar problem like Chris-Auer said, it's authentication timed out. What I did is just increase the credential timeout ($ git config credential.helper 'cache --timeout=3600').

Don't need to terminate the hung process, open another terminal and change directory into the local repository and type in above command. Then switch back to the hung screen, type in username and password (not prompt f

[2016-01-14 08:14] bmahsman commented on #899
After poring over the output from `git` and `npm` with `export GIT_TRACE=1` and `npm config loglevel verbose`, I believe I have figured out how to get this to work, at least with GitLab (I have since moved from GitHub to GitLab, which also supports Git LFS).

Step 1. Inside of your repository, run the following command (replace `bubblegum`) and then commit the resulting `.gitconfig` and push:
[cod

[2016-01-14 13:36] Rudy-Tmc opened #932 "Runtime error on running git lfs clean"
Hi,

I've installed git lfs on Windows 7, let lfs track .zip files, added some zip files to the repo, pushed it to the server. Created a clone in another dir, there I've checked out the lfs files, and got the zips back.
Now I try to get the pointers back instead of the zips. So I use git-lfs clean, but get a runtime error:

[code]

[2016-01-14 14:37] hayesmaker commented on #316
please make an uninstaller.. there's no way currently to update (or at least make updates easier)

[2016-01-14 16:20] technoweenie commented on #899
If your git host supports LFS properly, the LFS endpoint should always be your git remote with a "/info/lfs" suffix. You should only have to configure `lfs.url` if your LFS service is hosted separately from your Git service.

GitHub's lfs-authenticate command over SSH does return that "api.github.com" url, but `https://github.com/brynn.mahsman/bubblegum.git/info/lfs` works just fine too.

You can

[2016-01-14 16:29] technoweenie commented on #932
What does `git lfs version` say?

If I'm assuming the latest at v1.1.0, the panic is occurring [here](https://github.com/github/git-lfs/blob/cc90378df0387ced99c93aed00cc04850a244ae8/commands/commands.go#L97), which doesn't really make a lot of sense. Maybe it's a weird issue with the windows command prompt...

The main problem with what you're attempting though, is that `git lfs clean` is an inter

[2016-01-14 18:15] bmahsman commented on #899
Do you have any idea why `npm install` does not have the proper `lfs.url` on its own without having to tell it explicitly with a `.gitconfig` in the repository?

I noticed that when you give `npm install` a repository it first makes a bare clone with `--mirror` in its cache directory, and then attempts to make a non-bare clone from that, which then is the basis for the files it installs to `node_m

[2016-01-14 18:22] Rudy-Tmc commented on #932
Hi,

It is indeed that latest v1.1.0 version.
I merely was trying to go back to the state of my workspace when I cloned it.
We have a huge repo, with large binary files, which we do not need all the time. So it might be convenient to be able to get the real file at some point, and also be able to only have a the LFS pointer once we not need the large file anymore.

Rudy

[2016-01-14 18:24] technoweenie commented on #899
Git LFS replaces pointers on checkout to the working directory. I don't think bare clones will do anything LFS related. If npm wants to support LFS, they'd have to download the actual objects manually. Git LFS doesn't really have any convenient commands for it, but they could be added if npm wanted to add support.

[2016-01-14 18:28] technoweenie commented on #932
You can use the `lfs.fetchinclude` and `lfs.fetchexclude` git options to specify paths you want downloaded by default, or ignored by default. Then you can use `git lfs fetch --include` or `git lfs fetch --exclude` if you do want the real file later.

Docs: https://github.com/github/git-lfs/blob/master/docs/man/git-lfs-pull.1.ronn

[2016-01-14 18:29] bmahsman commented on #899
Thanks. In that case, I believe this is now entirely in npm's court. I'll make an issue in their project and see if they want to support it. The `.gitconfig` workaround should suffice for now.

[2016-01-14 18:35] technoweenie commented on #899
Ok, I think I get what's happening, and why you need the `.gitconfig`:

The first repo is a clone from a remote git host. But since it's a bare clone, LFS is not invoked at all. The second repo is a clone of the bare repo. Its `origin` remote is some local file path, and not a remote git host. That's why you need the `.gitconfig`.

Perhaps the client could detect this, and look at the config of th

[2016-01-14 18:46] Rudy-Tmc commented on #932
Thanks

[2016-01-14 20:09] #932 closed

[2016-01-15 03:45] EvilOfGlass opened #934 "Get error while clone"
This error show up while I git clone the Unreal.js after i install the git lfs.
[code]
Here is the log.
[code]
How can i fix it?

[2016-01-15 09:37] JTLR opened #935 "Files skipped / Connection to github.com closed by remote host / fatal: write error: Invalid arguement"
When I try to push files using git lfs I often get these 3 errors:

Files skipped
Connection to github.com closed by remote host
fatal: write error: Invalid arguement

First some files get skipped, then seemingly because files being uploaded are large (up to over 1gb) the connection times out and drops, then I get the 3rd error.

Any ideas what's wrong?

[2016-01-15 13:28] technoweenie commented on #935
If LFS files are skipped, that means they already exist on the server. This isn't a problem. But I'm happy to confirm OIDs are on the server if you want to send me some. Hit up https://github.com/contact so we can chat privately.

The other errors are hard to diagnose without more info. Can you try the operation with `GIT_TRACE=1 git push`?